{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ step.name }}, {{ travel.description|truncate(120, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': step.id} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="travel-body-step">
                    <div class="span8">
                        <div class="travel-body-section-step">
                            <i class="icon-map-marker"></i>
                            Travel Step : <span class="trv-chart-step-name">{{ step.point.name }}</span>
                        </div>
                        <div class="travel-body-section">Add Step Note</div>
                        <div class="row-fluid">
                            <form method="post" action="{{ path('travel_add_step_note', { 'stepId': step.id}) }}" novalidate>
                                <label>Note <span class="color-red">*</span></label>
                                {{ form_widget(form.text, {'attr': {'class':'span12'}}) }}
                                {% if form_errors(form.text) %}
                                    <div class="form-error-main span7">{{ form_errors(form.text) }}</div>
                                    <div style="clear:both"></div>
                                {% endif %}
                                {{ form_rest(form) }}
                                <p><button type="submit" class="btn-u">Save</button></p>
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="travel-body-section-right">Step Settings</div>
                        {% include 'TravelBundle:Step:step-settings-menu.html.twig' with {'page':'add_step_note', 'stepId': step.id} %}
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}
