{% extends 'base.html.twig' %}

{% block title %} Step The World | 404 {% endblock %}

{% block breadcrumbTitle %}Page Not Found{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Page Not Found</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid page-404">
            <p><i>404</i> <span>The Page cannot be found</span></p>
        </div><!--/row-fluid-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}