/*General*/
h3 {
    font-size: 20px;
}
.no-underline{
    text-decoration: none !important;
}
.clear{
    clear: both;
}
.btn-facebook{
    color:#fff;
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2)
}
.btn-facebook:focus,.btn-facebook.focus{
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2);
    text-decoration: none;
}
.btn-facebook:hover{
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2);
    text-decoration: none;
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-login {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.service-block-home {
    padding: 10px;
    text-align:center;
    margin-bottom:20px;
    background:#fafafa;
    border-radius:2px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.service-block-home p i {
    color:#72c02c;
    font-size:40px;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.service-block-home i {
    color:#72c02c;
}
.service-block-home .unstyled {
    margin-left: 25px;
}
.swal2-radio label{
    display: inline;
}


/*Travel Site*/
.trv-title-color{
	color: #F2B50F;
}
.trv-breadcrumb{

}
.trv-date-time-picker-input{
    float:left;
}
.trv-date-time-picker-icon{
    float: left;
    padding-top: 4px;
    padding-left: 5px;
    font-size: 15px;
    color: #4885ed;
}
.trv-footer{
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #767676;
    font-size: 12px;
}
.trv-left-block{
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .breadcrumb{
        display: none;
    }
    .logo{
        top: 0;
    }
    .logo img{
        width: 200px;
    }
}

/*Side Menu*/
.trv-side-menu{
    background-color: #f9f9f9;
    padding: 10px 0 10px 0;
}
.trv-side-menu>li>a{
    padding: 4px 8px;
}
.trv-side-menu>li>a{
    margin: 0;
    color: #777;
}
.trv-side-menu>.active>a{
    background-color: #5FB7F1;
}
.trv-side-menu>.active>a:hover{
    background-color: #5FB7F1;
}

/*Form*/
.form-error-main ul{
	margin-bottom: 10px;
	list-style: none;
	margin-left: 0;
}
.form-error-main li{
	border: 1px solid #eed3d7;
	color: #b94a48;
    background-color: #f2dede;
	margin-top: 5px;
	padding: 5px;
}
.form-success-main{
	margin-bottom: 10px;
	border: 1px solid #d6e9c6;
	color: #468847;
	margin-top: 5px;
    background-color: #dff0d8;
	padding: 5px;
}
.form-warning-main{
	margin-bottom: 10px;
	border: 1px solid #fbeed5;
	color: #c09853;
	margin-top: 5px;
    background-color: #fcf8e3;
	padding: 5px;
}
.form-error-main.span7{
	margin-left: 0;
}
.form-error-main.span10{
	margin-left: 0;
}

/*Travel Steps*/
.trv-chart-main{
	background-color: #f8f8f8;
	padding: 10px 10px 5px 10px;
	border: 1px solid #EBEBEB;
	margin-bottom: 10px;
}
.trv-chart-main-no-detail{
    background-color: #fafafa;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}
.trv-chart-main-active{
	background-color: #f4f4f4;
	padding: 10px;
	border: 2px solid #CDECFF;
	margin-bottom: 10px;
}
.trv-chart-main:hover{
    background-color: #f4f4f4;
    border: 1px solid #CDECFF;
}
.trv-chart-main-a:hover{
    text-decoration: none;
}
.trv-chart-step-name{
    color: #555;
}
.trv-chart-line{
	border-bottom: 1px solid #eee;
	padding-top:5px;
}
.trv-chart-item-line{
	border-bottom: 1px solid #eee;
	padding-top: 3px;
}
.trv-chart-body{
}
.trv-chart-body>.text-success{
	color: #9DBF80;
}
.trv-chart-button{
	padding: 5px 10px 10px 0;
}
.trv-chart .row-fluid .span4 {
	width: auto;
	color: #72c02c;
}
.trv-chart .row-fluid .span4 h4{
	color: #72c02c;
}
.trv-chart .row-fluid .span4 i{
	color: #72c02c;
}
.trv-chart-date-main{
    font-size: 11px;
    color: #BEBEBE;
    margin-top: 3px;
}
.trv-chart-info-text{
    color: #777;
}
.trv-chart-date{
    color: #939393;
    margin-top: 5px;
}
.trv-chart-item-main{
    font-size: 11px;
    color: #74BDEE;
    margin-top: 5px;
}
.trv-chart-like-main{
    margin-top: 10px;
    font-size: 13px;
    color: #777;
}
.trv-chart-like-link a{
    color: #000;
}
.trv-chart-like-item a{
    color: #777;
}
.trv-chart-like-count-main{
    color: #777;
}
.trv-chart-like-count{
}
.trv-chart-like-link:hover{
    text-decoration: none;
}
.trv-chart-like-count:hover{
    text-decoration: underline;
}

/*Profile*/
.profile-info{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
}
.profile-info-about{
    border-top: 1px solid #ddd;
    padding: 10px 0 0 0;
}
.profile-info-about p{
    color: #999;
    font-style: italic;
}
.profile-info-numb{
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
}
.profile-info-item{
	margin-bottom: 10px;
    margin-left: 2px;
}
.profile-info-item-count{
    font-size: 20px;
	margin-left: 19px;
	color: #3B94D9;
}
.profile-info-item-text{
	font-size: 12px;
	text-transform: uppercase;
	color: #8899a6;
}
.profile-info-item-text-active{
    font-size: 12px;
    text-transform: uppercase;
    color: #8899a6;
}
.profile-item-main{
    margin-bottom: 10px;
    padding: 6px 6px 6px 10px;
    background-color: #f8f8f8;
    border: 1px solid #f2f2f2;
}
.profile-item-title{
    font-size: 16px;
    color: #c09853;
}
.profile-item-desc{
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #777;
    margin-top: 4px;
}
.profile-item-line{
    border-bottom: 1px solid #eee;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profile-item-info{
    font-size: 14px;
    font-weight: 300;
}
.profile-item-info-title{
    color: #777;
}
.profile-item-info-numb{
    color: #9DBF80;
}
.profile-item-info-date-main{
    font-size: 14px;
    font-weight: 300;
    margin-top: 2px;
}
.profile-item-info-date{
    color: #999;
}
.profile-item-icon{
    font-size: 13px;
}

/*Travel Page*/
.travel-info-name{
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	padding-bottom: 3px;
    font-size: 14px;
}
.travel-info-date{
    font-size: 12px;
    color: #bbb;
}
.travel-body{
	margin-top: 10px;
}
.travel-body-step{
}
.travel-body-section{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #9DBF80;
}
.travel-body-section-close{
    float: right;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.travel-body-section-edit{
    font-size: 11px;
    float: right;
    margin-top: 8px;
}
.travel-body-section-text{
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background-color: #F9F9F9;
    padding: 10px 10px 10px 10px;
    color: #777;
}
.travel-body-section-note{
    padding: 2px 4px 0 8px;
    margin: 0 0 10px;
    border-left: 2px solid #74BDEE;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    background-color: #F9F9F9;
}
.travel-body-section-note-date{
    font-size: 11px;
    color: #BEBEBE;
}
.travel-body-section-no-notes{
    color: #F2B50F;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    background-color: #F9F9F9;
    padding: 10px 10px 10px 10px;
    border-left: 2px solid #74BDEE;
    margin-bottom: 10px;
}
.travel-body-section-date{
	font-size: 11px;
    color: #bbb;
	padding-left: 8px;
}
.travel-body-section-step{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #c09853;
}
.travel-body-section-right{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #9DBF80;
}
.travel-body-section-step-desc{
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    background-color: #F9F9F9;
    padding: 10px 10px 10px 10px;
}
.travel-body-section-step-date-title{
    color: #777;
    font-weight: 400;
}
.travel-body-section-step-date{
    color: #999;
}
.travel-body-step-info-name{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}
.travel-body-step-info-text{
    margin-top: 5px;
}
.travel-body-section-place{
    background-color: #F9F9F9;
    padding: 8px;
    margin-top: 10px;
}
.travel-body-section-place-title{
    font-size: 16px;
}
.travel-body-section-place-text{
    color: #777;
    font-size: 12px;
}
.travel-body-section-place-type{
    font-size: 11px;
    color: #999;
}
.travel-body-section-place-status{
    font-size: 11px;
}
.travel-body-section-place-status-title{
    color: #777;
}
.travel-body-section-place-status-text{
    color: #9DBF80;
}
.profile-body-section-text-line{
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 5px;
}
.profile-body-section-text-info{
    font-size: 13px;
    font-weight: 300;
}
.profile-body-section-text-info-title{
    color: #c09853;
}
.profile-body-section-text-info-numb{
    color: #9DBF80;
}
.travel-body-section-line{
    margin-top: 4px;;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    background-color: #F9F9F9;
    padding: 5px;
    border-left: 2px solid #f3f3f3;
}
.travel-body-section-line-date{
    font-size: 11px;
    color: #bbb;
    margin-top: 2px;
}
.travel-body-section-timeline-link{
    text-align: center;
    margin-top: 4px;;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    background-color: #F9F9F9;
    padding: 2px;
}
.travel-body-section-likes{
    margin-top: 4px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    background-color: #F9F9F9;
    padding: 5px;
}
.travel-body-section-like-username{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.travel-body-section-share-main{
    padding-top: 5px;
}
.travel-body-time-table-icon{
    color: #c09853;
}

/*Travel Place*/
.trv-place-chart{
    background-color: #fafafa;
    padding: 5px;
}
.trv-place-chart-place-main{
    text-align: center;
}
.trv-place-chart-img{
    width: 260px;
    margin: auto;
}
.trv-place-body-section{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #9DBF80;
}
.trv-place-body-text{
     font-size: 14px;
     line-height: 23px;
     font-weight: 400;
     background-color: #F9F9F9;
     padding: 10px 10px 10px 10px;
     color: #777;
}
.trv-place-body-name{
    margin-top: 8px;
    font-size: 21px;
    margin-bottom: 5px;
}
.trv-place-box-main{
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #eee;
}
.trv-place-box-name{
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
.trv-place-box-line{
    margin-top: 3px;
    border-top: 1px solid #eee;
}
.trv-place-box-address{
    margin-top: 3px;
}
.trv-place-box-button{
    margin-top: 10px;
}
.trv-place-type-box{
    margin-top: 10px;
}
.trv-place-body-cat{
    color: #777;
    font-size: 13px;
    font-weight: 500;
}
.trv-place-body-type{
    color: #999;
    font-size: 13px;
}


.trv-pl-main{
    background-color: #f7f7f7;
    padding: 7px 7px 0 7px;
    margin-top: 5px;
    border-left: 2px solid #f2f2f2;
}
.trv-pl-img{
    width: 80px;
}
.trv-pl-name{
    color: #666;
    font-size: 17px;
    line-height: 22px;
    margin-top: -2px;
}
.trv-pl-addr{
    color: #666;
}
.trv-pl-checkbox{
    color: #666;
    font-size: 12px;
}
.trv-pl-checkbox-label{
    margin-left: -4px;
    line-height: 18px;
}
.trv-pl-type-main{
    width: auto;
}
.trv-pl-type-line{
    margin-top: 5px;
    border-left: 2px solid #f2f2f2;
    height: 30px;
    padding-top: 8px;
    margin-left: 11px;
}
.trv-pl-type-item{
    margin-top: 10px;
}
.trv-pl-type-line i{
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 50% !important;
    margin-left: -14px;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 14px;
}
.trv-pl-button-main{
    margin-top: 10px;
}



.trv-info{
    margin-left: 2px;
}
.trv-info-desc {
    display:none;
    position:absolute;
    background-color: #000000;
    opacity: 0.8;
    margin-left: 5px;
    padding: 5px;
    width: 200px;
    z-index: 999;
    color: #fff;
    font-size: 14px;
}



