<!DOCTYPE html>
<html>
<head>
    {% block metatags %}
        <meta charset="UTF-8" />
        <meta name="description" content="{% block description %}Step The World is a travel planner. Plan your trip step by step, add dates, notes, places to travel steps, save and share. {% endblock %}">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="google-site-verification" content="6JmrUY_16YdaHEYYX4VIkbzUB-ta-uxTeESsbq_1e3s" />
    {% endblock %}
    <title>{% block title %}Step The World - Travel Planner{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/plugins/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/headers/header1.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/plugins/bootstrap/css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/style_responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/plugins/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/plugins/flexslider/flexslider.css') }}"  type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/plugins/parallax-slider/css/parallax-slider.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/themes/default.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/site-style.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_profile_show', {'username': app.user.username}) }}" class="login-btn">Profile</a></li>
                <li class="devider">&nbsp;</li>
                <li><a href="{{ path('fos_user_security_logout') }}" class="login-btn">Logout</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}" class="login-btn">Login</a></li>
                <li class="devider">&nbsp;</li>
                <li><a href="{{ path('fos_user_registration_register') }}" class="login-btn">Register</a></li>
            {% endif %}
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <a href="{{ path('app_homepage') }}">
                <img id="logo-header" src="{{ asset('bundles/appbundle/images/step-the-world-logo.png') }}" alt="Logo" width="240"/>
            </a>
        </div><!-- /logo -->

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                {% set currentPath = app.request.attributes.get('_route') %}
                <div class="nav-collapse collapse">
                    <ul class="nav top-2">
                        <li {% if currentPath == 'app_homepage' %}class="active"{% endif %}>
                            <a href="{{ path('app_homepage') }}">Home</a>
                        </li>
                        {% if app.user and app.user.travels is not null %}
                            <li {% if currentPath == 'fos_user_profile_show' %}class="active"{% endif %}>
                                <a href="{{ path('fos_user_profile_show', {'username': app.user.username}) }}">My Travels</a>
                            </li>
                        {% endif %}
                        <li {% if currentPath == 'app_what_is' %}class="active"{% endif %}>
                            <a href="{{ path('app_what_is') }}">What Is It?</a>
                        </li>
                        <li {% if currentPath == 'app_contact' %}class="active"{% endif %}>
                            <a href="{{ path('app_contact') }}">Contact</a>
                        </li>
                        <!--<li><a class="search"><i class="icon-search search-btn"></i></a></li>-->
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form />
                            <input type="text" class="span3" placeholder="Search" />
                            <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->
{% block breadcrumb %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-20 trv-breadcrumb">
        <div class="container">
            <h1 class="color-green pull-left">{% block breadcrumbTitle %}{% endblock %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('app_homepage') }}">Home</a> <span class="divider">/</span></li>
                {% block breadcrumbLink %}{% endblock %}
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
{% endblock %}
{% block flashmessage %}
    {% if 'app_homepage' == app.request.attributes.get('_route') %}
        <div class="container" style="margin-top: 20px;">
            {% for flashMessage in app.session.flashbag.get('social-login') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Well done! </strong>
                {{ flashMessage }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/appbundle/js/jquery-2.1.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appbundle/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery('.search').click(function () {
                if(jQuery('.search-btn').hasClass('icon-search')){
                    jQuery('.search-open').fadeIn(500);
                    jQuery('.search-btn').removeClass('icon-search');
                    jQuery('.search-btn').addClass('icon-remove');
                } else {
                    jQuery('.search-open').fadeOut(500);
                    jQuery('.search-btn').addClass('icon-search');
                    jQuery('.search-btn').removeClass('icon-remove');
                }
            });
        });
    </script>
{% endblock %}

<!--=== Footer ===-->
<div class="container">
    <!--=== Copyright ===-->
    <div class="trv-footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>2016 &copy; Step The World. All Rights Reserved.</p>
                </div>
                <div class="span4"></div>
            </div><!--/row-fluid-->
        </div><!--/container-->
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
</div><!--/footer-->
<!--=== End Footer ===-->

{% if app.environment == 'prod' %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82826053-1', 'auto');
    ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>
