{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Register{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Register</li>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock fos_user_content %}

{% endblock body %}
