{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Register{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Register</li>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
            {% endif %}
        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock fos_user_content %}

{% endblock body %}
