{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Register{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Register</li>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <div class="row-fluid">
                <form method="post" action="{{ path('fos_user_registration_register') }}" class="reg-page">
                <h3>Register a new account</h3>
                    {% if form_errors(form) %}
                        <div class="form-error-main">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    <div class="controls">
                        <label>Name <span class="color-red">*</span></label>
                        {{ form_widget(form.firstname, {'attr': {'class':'span12'}}) }}
                        {% if form_errors(form.firstname) %}
                            <div class="form-error-main">{{ form_errors(form.firstname) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                        <label>Username <span class="color-red">*</span></label>
                        {{ form_widget(form.username, {'attr': {'class':'span12'}}) }}
                        {% if form_errors(form.username) %}
                            <div class="form-error-main">{{ form_errors(form.username) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                        <label>Email Address <span class="color-red">*</span></label>
                        {{ form_widget(form.email, {'attr': {'class':'span12'}}) }}
                        {% if form_errors(form.email) %}
                            <div class="form-error-main">{{ form_errors(form.email) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                    </div>
                    <div class="controls">
                        <div class="span6">
                            <label>Password <span class="color-red">*</span></label>
                            {{ form_widget(form.plainPassword.first, {'attr': {'class':'span12'}}) }}
                        </div>
                        <div class="span6">
                            <label>Confirm Password <span class="color-red">*</span></label>
                            {{ form_widget(form.plainPassword.second, {'attr': {'class':'span12'}}) }}
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="controls">
                        {% if form_errors(form.plainPassword.first) %}
                            <div class="form-error-main">{{ form_errors(form.plainPassword.first) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                        {% if form_errors(form.plainPassword.second) %}
                            <div class="form-error-main">{{ form_errors(form.plainPassword.second) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                    </div>
                    <div class="controls form-inline">
                        <label class="checkbox">{{ form_widget(form.terms) }}&nbsp; Accept
                            <a href="{{ path('app_terms_of_service') }}">Terms of Service</a>
                    </div>
                    <div class="controls form-inline" style="margin-top: 10px;">
                        <input class="btn-u" type="submit" value="Register">
                    </div>
                    <div class="controls">
                        {% if form_errors(form.terms) %}
                            <div class="form-error-main">{{ form_errors(form.terms) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                    </div>
                    <hr />
                    <p>Already Signed Up? <a href="{{ path('fos_user_security_login') }}">Sign In</a> to login your account.</p>
                    {{ form_rest(form) }}
                </form>
            </div><!--/row-fluid-->
        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock fos_user_content %}

{% endblock body %}
