{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/DrawDirectionOnMap.css') }}" />
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                <div class="headline"><h3>Travel Steps</h3></div>
                <div class="trv-chart">

                </div>
            </div><!--/span3-->

            <div class="span9">
                <div class="headline"><h3>Save Travel</h3></div>
                <form method="post" action="{{ path('travel_save') }}" {{ form_enctype(form) }} novalidate>
                    <label>Name <span class="color-red">*</span></label>
                    {{ form_widget(form.name, {'attr': {'class':'span7'}}) }}
                    {% if form_errors(form.name) %}
                        <div class="form-error-main span7">{{ form_errors(form.name) }}</div>
                        <div style="clear:both"></div>
                    {% endif %}
                    <label>Description</label>
                    {{ form_widget(form.description, {'attr': {'class':'span10', 'rows':'8'}}) }}
                    {% if form_errors(form.description) %}
                        <div class="form-error-main span10">{{ form_errors(form.description) }}</div>
                        <div style="clear:both"></div>
                    {% endif %}
                    <p><button type="submit" class="btn-u">Save</button></p>
                    <input id='locations' type='hidden' name='locations' value=''>
                    {{ form_rest(form) }}
                </form>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function createChart() {

            var travelChart = $('.trv-chart');

            travelChart.empty();

            for (key in locations) {

                $('.trv-chart-button-main').remove();
                travelChart.append(addStepHtml(key));

                //Address
                var adr = locations[key][3];
                var addressText = $('#trv-chart-' + key + ' .trv-chart-body .text-success');
                addressText.empty();
                addressText.html(adr);
                //Address End

            }

            var locInput = $('#pac-input');
            locInput.val('');

            if (locations.length != 0) {
                locInput.attr('placeholder', 'Enter '+ locations.length +'. step');
            }

            locInput.focus();

        }

        /**
         * Adds Step frame to chart
         * @param key
         * @returns {string}
         */
        function addStepHtml(key)
        {
            placeName = locations[key][0];
            address = locations[key][3];

            step = parseInt(key);
            if (key == 0) {
                var stepTitle = 'Start';
                $('.trv-chart').empty();
            } else {
                var stepTitle = (step) + '. Step';
            }

            return  '<div id="trv-chart-' + (step) + '">' +
                    '<div class="trv-chart-main">' +
                    '<div>' +
                    '<span class="text-warning"><i class="icon-map-marker"></i></span>' +
                    '<strong><span class="text-warning"> ' + stepTitle + ' :</span><span class="trv-chart-step-name"> ' + placeName + '</span></strong>' +
                    '<span id="' + (step) + '" class="pull-right">' +
                    '</span>' +
                    '</div>' +
                    '<div class="trv-chart-line"></div>' +
                    '<div class="trv-chart-body">' +
                    '<span class="text-success">' + address + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                    ;
        }
    </script>
    <script type="text/javascript" >

        locations = JSON.parse(localStorage['locations']);

        $('#locations').val(JSON.stringify(locations));
        createChart();
        localStorage.removeItem('locations');

    </script>
{% endblock %}
