{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ travel.description|truncate(130, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId':''} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="nav-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-list"></i> General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show_map', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-map-marker"></i> Map
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('travel_settings', {'travelId': travel.id}) }}">
                                <i class="icon-cog"></i> Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="travel-body">
                    <div class="span8">
                        <div class="travel-body-section">Travel Info</div>
                        <div class="row-fluid">
                            <form method="post" action="{{ path('travel_settings_info', { 'travelId': travel.id}) }}" novalidate>
                                <label>Name <span class="color-red">*</span></label>
                                {{ form_widget(form.name, {'attr': {'class':'span7'}}) }}
                                {% if form_errors(form.name) %}
                                    <div class="form-error-main span7">{{ form_errors(form.name) }}</div>
                                    <div style="clear:both"></div>
                                {% endif %}
                                <label>Description</label>
                                {{ form_widget(form.description, {'attr': {'class':'span12', 'rows':'8'}}) }}
                                {% if form_errors(form.description) %}
                                    <div class="form-error-main span10">{{ form_errors(form.description) }}</div>
                                    <div style="clear:both"></div>
                                {% endif %}
                                {{ form_rest(form) }}
                                <p><button type="submit" class="btn-u">Save</button></p>
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="travel-body-section">Settings</div>
                        {% include 'TravelBundle:Travel:settings-menu.html.twig' with {'page':'settings_info', 'travelId': travel.id} %}
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}
