<div class="sidebar-nav">
    <ul class="nav nav-list trv-side-menu">
        <li {% if page == 'settings' %} class="active" {% endif %}><a href="{{ path('travel_settings', {'travelId': travel.id}) }}"><i class="icon-cog"></i> Travel Settings</a></li>
        <li {% if page == 'settings_info' %} class="active" {% endif %}><a href="{{ path('travel_settings_info', { 'travelId': travel.id}) }}"><i class="icon-book"></i> Travel Info</a></li>
        <li {% if page == 'add_general_note' %} class="active" {% endif %}><a href="{{ path('travel_add_general_note', { 'travelId': travel.id}) }}"><i class="icon-edit"></i> Add Travel Note</a></li>
        <li {% if page == 'add_step' %} class="active" {% endif %}><a href="{{ path('travel_add_step', {'travelId': travel.id}) }}"><i class="icon-map-marker"></i> Add New Step</a></li>
        <li {% if page == 'edit_steps' %} class="active" {% endif %}><a href="{{ path('travel_edit_steps', {'travelId': travel.id}) }}"><i class="icon-list"></i> Organize Steps</a></li>
        <li><a href="#" onclick="deleteTravel({{ travel.id }})"><i class="icon-remove"></i> Delete Travel</a></li>
    </ul>
</div>
<script type="text/javascript">
    function deleteTravel(travelId){
        var ask = confirm('Are you sure you want to delete travel? Everything related to travel will be deleted...');

        if (ask) {
            location.href = Routing.generate('travel_delete_travel', { travelId : travelId});
        }
    }
</script>