{% extends 'base.html.twig' %}

{% block metatags %}
    {{ parent() }}
    <meta property="og:image" content="{{ asset('bundles/appbundle/images/step-the-world-big-logo.png') }}" />
    <meta property="og:description" content="{{ travel.description|truncate(130, false, '...') }}" />
{% endblock %}
{% block title %} {{ travel.name }} {% endblock %}
{% block description %}{{ travel.name }}, {{ travel.description|truncate(130, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId':''} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="nav-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-list"></i> General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show_map', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-map-marker"></i> Map
                            </a>
                        </li>
                        {% if isOwner %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_settings', {'travelId': travel.id}) }}">
                                <i class="icon-cog"></i> Settings
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="travel-body">
                    {% if travel.timeLineActive %}
                    <div class="span8">
                    {% else %}
                    <div class="span12">
                    {% endif %}
                        <div class="travel-body-section">Travel Description</div>
                        <div class="travel-body-section-text">
                            <div>
                                {{ travel.description|nl2br|converturls }}
                            </div>
                            <div class="profile-body-section-text-line"></div>
                            <div class="profile-body-section-text-info">
                                <span class="profile-body-section-text-info-title"><i class="icon-map-marker"></i> Steps : </span>
                                <span class="profile-body-section-text-info-numb">{{ travel.steps|length }}</span>
                            </div>
                        </div>
                        {% if travel.timeTableActive %}
                        <div class="travel-body-section">Time Table</div>
                        <!--<div class="travel-body-section-no-notes">This travel has no time table!</div> -->
                        <div>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Arrive</th>
                                    <th>Leave</th>
                                    <th>How Long</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for step in travel.steps %}
                                        {% if not step.detailActive %}
                                        <tr>
                                            <td>
                                                <span class="travel-body-time-table-icon"><i class="icon-map-marker"></i></span>
                                                <a href="{{ path('travel_show_step', {'slug':travel.slug, 'stepSlug':step.slug, 'stepId':step.id}) }}">{{ step.point.name }}</a>
                                            </td>
                                            <td>
                                                {% if step.arriveDate %}
                                                    {{ step.arriveDate|date("j F Y H:i") }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if step.leaveDate %}
                                                    {{ step.leaveDate|date("j F Y H:i") }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if (step.arriveDate and step.leaveDate) and (step.leaveDate > step.arriveDate) %}
                                                    {% set difference = date(step.leaveDate|date('d-m-Y H:i')).diff(date(step.arriveDate|date('d-m-Y H:i'))).format(' %mm %dd %hh %im') %}
                                                    {{ difference|replace({" 0m": ""," 0d": "", " 0h" : " ", " 0m": " "}) }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr>
                                        <th></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        <div class="travel-body-section">
                            Travel Notes
                            {% if isOwner %}
                            <span class="travel-body-section-edit">
                                <a href="{{ path('travel_add_general_note', {'travelId': travel.id}) }}">New Note</a>
                            </span>
                            {% endif %}
                        </div>
                        {% if travel.generalNotes|length > 0 %}
                            {% for note in travel.generalNotes %}
                                <div class="travel-body-section-note">
                                    {% if isOwner %}
                                    <div><a href="#" class="travel-body-section-close" onclick="deleteNote({{ note.id }})">×</a></div>
                                    {% endif %}
                                    <div>{{ note.text|nl2br|converturls }}</div>
                                    <div class="travel-body-section-note-date">
                                        <a href="{{ path('sonata_user_profile_show', {'username': note.user.username}) }}">{{ note.user.firstName }}</a>
                                        &#8212; {{ note.createdAt|date("j F Y H:i") }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="travel-body-section-no-notes">Travel has no notes!</div>
                        {% endif %}

                    </div>
                    {% if travel.timeLineActive %}
                    <div class="span4">
                        <div class="travel-body-section">Time Line</div>
                        {% for line in timeLine %}
                            <div class="travel-body-section-line">
                                <div>{{ timeline_render(line) }}</div>
                                <div><div class="travel-body-section-line-date"> {{ line.createdAt.date|date("j F Y H:i") }}</div></div>
                            </div>
                        {% endfor %}
                        {% if timeLine|length == 10 %}
                            <div class="travel-body-section-timeline-link"><a href="{{ path('travel_show_timeline', {'slug': travel.slug, 'travelId': travel.id}) }}">Show all</a></div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        function deleteNote(noteId)
        {
            var ask = confirm('Are you sure you want to delete this Note?');

            if (ask) {
                location.href = Routing.generate('travel_delete_general_note', { "generalNoteId": noteId });
            }
        }

    </script>

{% endblock %}