{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ travel.description|truncate(130, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId':''} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="nav-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-list"></i> General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show_map', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-map-marker"></i> Map
                            </a>
                        </li>
                        {% if isOwner %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_settings', {'travelId': travel.id}) }}">
                                <i class="icon-cog"></i> Settings
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="travel-body">
                    <div class="span12">
                        <div class="travel-body-section">Travel Likes</div>
                        {% if travel.travelLike.users|length > 0 %}
                            {% for userLike in travel.travelLike.users %}
                                <div class="travel-body-section-likes">
                                    <div>
                                        <div class="span1">
                                            <img src="{% path user.image, 'big' %}" alt="{{ user.firstname }} {{ user.lastname }}" width="35"/>
                                        </div>
                                        <div class="span11" style="margin-left: 0px;">
                                            <a class="travel-body-section-like-username" href="{{ path('sonata_user_profile_show', {'username':userLike.username}) }}"> {{ userLike.firstname }} {{ userLike.lastname }}</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="travel-body-section-no-notes">Travel has no likes!</div>
                        {% endif %}
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}