{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ travel.description|truncate(130, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId':''} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="nav-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-list"></i> General
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('travel_show_map', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-map-marker"></i> Map
                            </a>
                        </li>
                        {% if isOwner %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('travel_settings', {'travelId': travel.id}) }}">
                                    <i class="icon-cog"></i> Settings
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="travel-body">
                    <div id="trv-map-main">
                        <div id="map_canvas" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         * The initial Map center.
         */
        var mapCenter = [11.313430592259937, 21.402397366699233];

        /**
         * The initial Map zoom level.
         */
        var mapZoom = 2;

        /**
         * Data for the markers consisting of a name, a latitude, longitude and address
         * @type {Array}
         */
        var locations = [];

        /**
         * color of the marker on the map
         */
        var markerColor = 'default';

        /**
         * Line Color
         */
        var polyLineColor = '#E82087';

        /**
         * Google Map
         */
        var googleMap;

        /**
         * Auto complete place
         */
        var place;

        /**
         * Marker
         * @type {Array}
         */
        var marker = [];

        /**
         * Map Line
         */
        var polyLine;

        function initialize() {

            var config = {
                zoom: mapZoom,
                mapTypeControl: false,
                streetViewControl: false,
                disableDoubleClickZoom: true,
                center: new google.maps.LatLng(mapCenter[0], mapCenter[1])
            };
            googleMap = new google.maps.Map(document.getElementById("map_canvas"), config);

            {% for step in travel.steps %}
             locations.push(['{{ step.name }}', {{ step.latitude }}, {{ step.longitude }}, '{{ step.address }}']);
            {% endfor %}

            makeMap();

        }

        function makeMap() {

            var lt = new google.maps.LatLngBounds();
            for (var d = 0; d < locations.length; d++) {
                var c = locations[d];
                var g = new google.maps.LatLng(c[1], c[2]);
                marker[d] = new google.maps.Marker({
                    position: g,
                    title: c[0],
                    zIndex: d,
                    map: googleMap
                });
                marker[d].setMap(googleMap);
            }

            setPolyLine();

            if (locations.length > 1) {
                for (var l = 0; l < locations.length; l++) {
                    var cl = locations[l];
                    var gl = new google.maps.LatLng(cl[1], cl[2]);
                    lt.extend(gl);
                }
                googleMap.fitBounds(lt);
            } else {
                ltc = locations[0];
                googleMap.setCenter(new google.maps.LatLng(ltc[1], ltc[2]));
                googleMap.setZoom(9);
            }

        }

        function setPolyLine() {
            var path = [];
            for (var i = 0; i < locations.length; i++) {
                var location = locations[i];
                path.push(new google.maps.LatLng(location[1], location[2]))
            }
            polyLine = new google.maps.Polyline({
                path: path,
                strokeColor: polyLineColor,
                strokeOpacity: 1,
                strokeWeight: 2,
                visible: true
            });
            polyLine.setMap(googleMap)
        }


        function markerImage(b, a) {
            var c = "stop";
            if (0 == b) {
                c = "start"
            } else {
                if (b == (a - 1)) {
                    c = "end"
                }
            }

            return new google.maps.MarkerImage(
                    "../bundles/appbundle/images/" + c + "_marker_" + markerColor + ".png",
                    new google.maps.Size(19, 37),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(9, 37)
            );

        }


        function shadowImage() {

            return new google.maps.MarkerImage(
                    "../bundles/appbundle/images/marker_shadow.png",
                    new google.maps.Size(37, 34),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(9, 34)
            );
        }


        function markerShape() {
            var a = {
                coord: [1, 1, 1, 20, 18, 20, 18, 1],
                type: "poly"
            }
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak"></script>
    <script>
        google.maps.event.addDomListener(window, "load", initialize);
    </script>
{% endblock %}
