<div class="booking-blocks" style="padding: 10px 10px 5px 10px;">
    <div class="travel-info-name">
        <b><a href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">{{ travel.name }}</a></b>
    </div>
    <div>
        <span class="trv-chart-info-text">Travel by</span>
        <a href="{{ path('sonata_user_profile_show', {'username': travel.user.username}) }}">{{ travel.user.firstname }}</a>
    </div>
    <div>
        <span class="travel-info-date">{{ travel.createdAt|date("j F Y H:i") }}</span>
    </div>
    {% if travel.isPublic %}
        <div class="trv-chart-line"></div>
        <div class="trv-chart-like-main">
            <a class="trv-chart-like-link" href="{{ path('travel_show_likes', {'slug':travel.slug, 'travelId':travel.id}) }}" title="See Likes">
                <span class="trv-chart-like-count-main">
                    <span class="trv-chart-like-count">
                        {{ travel.travelLike.users|length }}
                    </span>
                    <i class="icon-thumbs-up"></i>&nbsp;
                </span>
            </a>
            <span class="trv-chart-like-item">
                {% if user is not null and user in travel.travelLike.users %}
                    <span class="trv-likeable"><a href="javascript://nop/" onclick="dislike()">Unlike</a></span>
                {% else %}
                    <span class="trv-likeable"><a href="javascript://nop/" onclick="like()">Like</a></span>
                {% endif %}
                &nbsp;&nbsp;
                <span class="">
                    <i class="icon-share"></i> <a href="{{ path('travel_social', {'slug':travel.slug, 'travelId':travel.id}) }}">Share</a>
                </span>
            </span>
        </div>
    {% endif %}
</div>
<script type="text/javascript">

    function like(){
        $.ajax({
            type: "POST",
            url: '{{ path('travel_like_travel', {'travelId':travel.id}) }}',
            data: {},
            dataType: "json",
            success: function(response) {
                if (response.success) {
                    $('.trv-likeable').html('<a href="javascript://nop/" onclick="dislike()">Unlike</a>');
                    var count = parseInt($('.trv-chart-like-count').html());
                    $('.trv-chart-like-count').html(count+1);
                } else if (!response.login) {
                    location.href = Routing.generate('sonata_user_security_login');
                }
            }
        });
    }

    function dislike(){

        $.ajax({
            type: "POST",
            url: '{{ path('travel_dislike_travel', {'travelId':travel.id}) }}',
            data: {},
            dataType: "json",
            success: function(response) {
                if (response.success) {
                    $('.trv-likeable').html('<a href="javascript://nop/" onclick="like()">Like</a>');
                    var count = parseInt($('.trv-chart-like-count').html());
                    $('.trv-chart-like-count').html(count-1);
                }
            }
        });
    }
</script>
