<div class="trv-chart">
    {% for step in travelSteps %}
        {% if loop.first %}
            {% set stepTitle = 'Start:' %}
        {% elseif loop.last %}
            {% set stepTitle = 'Finish:' %}
        {% else %}
            {% set stepTitle = (loop.index - 1) ~ '-' %}
        {% endif %}
        {% if not step.detailActive %}
        <a href="{{ path('travel_show_step', {'slug': travel.slug, 'stepSlug': step.slug, 'stepId': step.id}) }}" class="trv-chart-main-a">
            <div id="trv-chart-' + (step) + '">
                <div class="trv-chart-main{% if currentStepId == step.id %}-active{% endif %}">
                    <div>
                        <div class="span4" style="width: auto;">
                            <span class="text-warning">
                                <img style="border-radius: 50% !important; width: 40px; height: 40px !important;" src="{% path step.point.image, 'big' %}" alt="{{ step.point.name }}"/>
                            </span>
                        </div>
                        <div class="span8" style="margin-left: 8px;">
                            <strong>
                                <span class="text-warning"> {{ stepTitle }} </span>
                                <span class="trv-chart-step-name"> {{ step.point.name }}</span>
                            </strong>
                            <span id="' + (step) + '" class="pull-right"></span>
                            <div class="trv-chart-body">
                                <span class="text-success">{{ step.point.address }}</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="trv-chart-line"></div>
                    <div class="trv-chart-date-main">
                        {% if step.arriveDate %}
                            <div><span class="trv-chart-date" ><i class="icon-time"></i> Arrive: </span> {{ step.arriveDate|date("j F Y H:i") }}</div>
                        {% endif %}
                        {% if step.leaveDate %}
                            <div><span class="trv-chart-date" ><i class="icon-time"></i> Leave: </span> {{ step.leaveDate|date("j F Y H:i") }}</div>
                        {% endif %}
                    </div>
                    {% if step.arriveDate or step.leaveDate %}
                        <div class="trv-chart-item-line"></div>
                    {% endif %}
                    <div class="trv-chart-item-main">
                        <span class="trv-chart-date" ><i class="icon-edit"></i> Notes :</span> {{ step.stepNotes|length }}&nbsp;&nbsp;&nbsp;
                        <span class="trv-chart-date" ><i class="icon-map-marker"></i> Places :</span> {{ step.placeItems|length }}
                        <span class="pull-right" style="color: #bbb;">Details <i class="icon icon-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </a>
        {% else %}
            <div>
                <div class="trv-chart-main-no-detail">
                    <div class="span4" style="width: auto; text-align: center;">
                        <span class="text-warning">
                            <img style="border-radius: 50% !important; width: 40px; height: 40px !important;" src="{% path step.point.image, 'big' %}" alt="{{ step.point.name }}"/>
                        </span>
                    </div>
                    <div class="span8" style="margin-left: 8px;">
                        <strong>
                            <span class="text-warning"> {{ stepTitle }} </span>
                            <span class="trv-chart-step-name"> {{ step.point.name }}</span>
                        </strong>
                        <span id="' + (step) + '" class="pull-right"></span>
                        <div class="trv-chart-body">
                            <span class="text-success">{{ step.point.address }}</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>