{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ travel.description|truncate(130, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': ''} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="nav-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-list"></i> General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show_map', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-map-marker"></i> Map
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('travel_settings', {'travelId': travel.id}) }}">
                                <i class="icon-cog"></i> Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="travel-body">
                    <div class="span8">
                        <div class="travel-body-section">Add New Step</div>
                        <div id="trv-map-main">
                            <input id="pac-input" class="controls" type="text" placeholder="Enter Step Name" style="margin-top: 10px; width: 70%">
                            <div id="map_canvas" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="travel-body-section">Settings</div>
                        {% include 'TravelBundle:Travel:settings-menu.html.twig' with {'page':'add_step'} %}
                        <form method="post" action="{{ path('travel_add_step', {'travelId': travel.id}) }}">
                            {{ form_widget(form.name, {'type': 'hidden'}) }}
                            <input id='location' type='hidden' name='location' value=''>
                            {{ form_rest(form) }}
                            <div id="trv-add-place-info">
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        /**
         * The initial Map center.
         */
        var mapCenter = [11.313430592259937, 21.402397366699233];

        /**
         * The initial Map zoom level.
         */
        var mapZoom = 2;

        /**
         * Data for the markers consisting of a name, a latitude, longitude and address
         * @type {Array}
         */
        var locations = [];

        /**
         * color of the marker on the map
         */
        var markerColor = 'default';

        /**
         * Line Color
         */
        var polyLineColor = '#E82087';

        /**
         * Google Map
         */
        var googleMap;

        /**
         * Auto complete place
         */
        var place;

        /**
         * Marker
         * @type {Array}
         */
        var marker = [];

        function initialize() {

            var config = {
                zoom: mapZoom,
                mapTypeControl: false,
                streetViewControl: false,
                disableDoubleClickZoom: true,
                center: new google.maps.LatLng(mapCenter[0], mapCenter[1])
            };
            googleMap = new google.maps.Map(document.getElementById("map_canvas"), config);

            var input = /** @type {HTMLInputElement} */(document.getElementById('pac-input'));

            var types = document.getElementById('type-selector');
            googleMap.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            googleMap.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

            var autoComplete = new google.maps.places.Autocomplete(input);

            google.maps.event.addListener(autoComplete, 'place_changed', function () {

                var place = autoComplete.getPlace();

                var placeImage = '';
                if (place.photos) {
                    placeImage = place.photos[0].getUrl({'maxWidth': 500, 'maxHeight': 500});
                }

                if (!place.geometry) {
                    return;
                }

                var loc = place.geometry.location;

                var latitude = loc.lat(function ($a) {
                    return $a;
                });

                var longitude = loc.lng(function ($a, $b) {
                    return $b;
                });

                if (locations.length > 0) {
                    deleteMap();
                }

                locations.push([place.name, latitude, longitude, place.formatted_address, placeImage, place.id, place.types]);

                makeMap();

                addPlaceInfo();

            });

        }

        function deleteMap() {

            for (var i = 0; i < locations.length; i++) {
                marker[i].setMap(null);
                locations = [];
            }
        }

        function makeMap() {

            for (var d = 0; d < locations.length; d++) {
                var c = locations[d];
                var g = new google.maps.LatLng(c[1], c[2]);
                marker[d] = new google.maps.Marker({
                    position: g,
                    title: c[0],
                    zIndex: d,
                    map: googleMap
                });
                marker[d].setMap(googleMap);
            }

            ltc = locations[0];
            googleMap.setCenter(new google.maps.LatLng(ltc[1], ltc[2]));
            googleMap.setZoom(9);
        }

        function addPlaceInfo(){

            var placeImg = '';

            if (locations[0][4] != ''){
                placeImg =  '<div>' +
                                '<img src="' + locations[0][4] + '">' +
                            '</div>';
            }

            var html = '<div class="travel-body-section">Add Step</div>' +
                        '<div class="trv-place-box-main">' + placeImg +
                            '<div>' +
                                '<div class="trv-place-box-name"><strong>' + locations[0][0] + '</strong></div>' +
                                '<div class="trv-place-box-line"></div>' +
                                '<div class="trv-place-box-address">' + locations[0][3] + '</div>' +
                            '</div>' +
                            '<div class="trv-place-box-button"><button type="submit" class="btn-u" style="background-color: #5bc0de;">Add</button></div>' +
                        '</div>';

            $('#trv-add-place-info').html(html);

            $('#location').val(JSON.stringify(locations));
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak"></script>
    <script>
        google.maps.event.addDomListener(window, "load", initialize);
    </script>
{% endblock %}
