{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ travel.description|truncate(130, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': ''} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="nav-tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-list"></i> General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('travel_show_map', {'slug': travel.slug, 'travelId': travel.id}) }}">
                                <i class="icon-map-marker"></i> Map
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('travel_settings', {'travelId': travel.id}) }}">
                                <i class="icon-cog"></i> Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="travel-body">
                    <div class="span8">
                        <div class="travel-body-section">Organize Steps</div>
                        <div class="">To sort move (drag and drop) and save. To delete click trash button.</div>
                        <div>
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <div class="form-error-main">
                                    <ul>
                                        <li>{{ flash_message }}</li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                        <form method="post" action="{{ path('travel_edit_steps', { 'travelId': travel.id}) }}" novalidate>
                            <div class="trv-sort">
                                {% for step in travel.steps %}
                                    <div class="trv-sort-item">
                                        <div class="span8 trv-sort-step-name">
                                            <input name="order[{{ step.id }}]" type="hidden" value="{{ step.StepOrder }}">
                                            <i class="icon-map-marker"></i> {{ step.point.name }}
                                        </div>
                                        <div class="span2 pull-right">
                                            <a href="#" class="btn btn-default" onclick="deleteStep({{ step.id }})"><i class="icon-trash" title="Delete"></i></a>
                                            <a href="#" class="btn btn-default trv-step-move-btn" onclick="" ><i class="icon-move" title="Move"></i></a>
                                        </div>
                                        <div class="span2 pull-right" style="padding-top: 7px;">
                                            <label class="checkbox trv-sort-checkbox">
                                                {% if step.detailActive %}
                                                    <input class="trv-pl-cb" type="checkbox" id="no_detail" name="details[]" value="on" checked>
                                                {% else %}
                                                    <input class="trv-pl-cb" type="checkbox" id="no_detail" name="details[]" value="on">
                                                {% endif %}
                                                <span class="trv-sort-checkbox-label">No Detail</span>
                                                <i class="icon icon-question-sign trv-info">
                                                    <span class="trv-info-desc">
                                                    This step will only be on map. If you want a step without any details(places, notes, dates) check this option.
                                                    </span>
                                                </i>
                                            </label>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="controls form-inline" style="margin-top: 5px">
                                <input class="btn-u" type="submit" value="Save">
                            </div>
                        </form>
                    </div>
                    <div class="span4">
                        <div class="travel-body-section">Settings</div>
                        {% include 'TravelBundle:Travel:settings-menu.html.twig' with {'page':'edit_steps'} %}
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/appbundle/css/jquery-ui-1.11.2.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://limonte.github.io/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appbundle/js/jquery-ui-1.11.2.js') }}"></script>
    <script src="http://limonte.github.io/sweetalert2/dist/sweetalert2.js"></script>
    <script type="text/javascript">
        $('.trv-sort').sortable({
            opacity: 0.6,
            stop: function (event, ui) {
                var order = 1;
                $('.trv-sort :input').each(function() {
                    $(this).val(order);
                    order++;
                });
            }
        });

        function deleteStep(stepId){
            var ask = confirm('Are you sure you want to delete this Step? Step will be deleted with all information.');

            if (ask) {
                location.href = Routing.generate('travel_delete_step', { stepId : stepId })
            }
        }

        $(document).ready(function(){
            $(document).on('mouseover', '.trv-info', function() {
                $(this).children(".trv-info-desc").attr('style', 'display: inline;');
            });

            $(document).on('mouseleave', '.trv-info', function() {
                $(this).children(".trv-info-desc").hide();
            });
        });
    </script>
    <style>
        .trv-sort-item{
            clear: both;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #f7f7f7;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px dashed #ddd;
        }
        .trv-sort-item:hover{
            cursor: move;
            background-color: #f4f4f4;
        }
        .trv-sort-step-name{
            padding-left: 10px;
            font-size: 16px;
            font-weight: 500;
            padding-top: 3px;
        }
        .trv-step-move-btn:hover{
            cursor: move;
        }
        .trv-sort-checkbox{
            color: #666;
            font-size: 12px;
        }
        .trv-sort-checkbox-label{
            margin-left: -4px;
            line-height: 18px;
        }
    </style>
{% endblock %}
