{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ step.name }}, {{ travel.description|truncate(120, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': step.id} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="travel-body-step">
                    <div class="span8">
                        <div class="travel-body-section-step">
                            <i class="icon-map-marker"></i>
                            Travel Step : <span class="trv-chart-step-name">{{ step.point.name }}</span>
                        </div>
                        <div class="travel-body-section">Set Date</div>
                        <div class="row-fluid" >
                            <form method="post" action="{{ path('travel_set_step_time', { 'stepId': step.id}) }}" novalidate>
                                <div class="controls">
                                    <label>Arrive Date</label>
                                    <div class='input-group date' id='datetimepicker1' style="position: relative;">
                                        <div class="trv-date-time-picker-input">
                                        {{ form_widget(form.arriveDate) }}
                                        </div>
                                        <div class="trv-date-time-picker-icon">
                                                <span class="input-group-addon">
                                                    <span class="icon icon-calendar"></span>
                                                </span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    {% if form_errors(form.arriveDate) %}
                                        <div class="form-error-main span7">{{ form_errors(form.arriveDate) }}</div>
                                        <div style="clear:both"></div>
                                    {% endif %}
                                    <label>Leave Date</label>
                                    <div class='input-group date' id='datetimepicker2' style="position: relative;">
                                        <div class="trv-date-time-picker-input">
                                        {{ form_widget(form.leaveDate) }}
                                        </div>
                                        <div class="trv-date-time-picker-icon">
                                            <span class="input-group-addon">
                                                <span class="icon icon-calendar"></span>
                                            </span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    {% if form_errors(form.leaveDate) %}
                                        <div class="form-error-main span7">{{ form_errors(form.leaveDate) }}</div>
                                        <div style="clear:both"></div>
                                    {% endif %}
                                    {{ form_rest(form) }}
                                </div>
                                <div class="controls form-inline">
                                    <input class="btn-u" type="submit" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="travel-body-section-right">Step Settings</div>
                        {% include 'TravelBundle:Step:step-settings-menu.html.twig' with {'page':'set_step_time', 'stepId': step.id} %}
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/bootstrap-datetimepicker.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/appbundle/js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/appbundle/js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript">
        $(function () {

            {% if step.arriveDate is null %}
                arriveDate = '';
            {% else %}
                arriveDate = '{{ step.arriveDate|date('Y-m-d H:i') }}';
            {% endif %}

            {% if step.leaveDate is null %}
                leaveDate = '';
            {% else %}
                leaveDate = '{{ step.leaveDate|date('Y-m-d H:i') }}';
            {% endif %}

            $('#datetimepicker1').datetimepicker({
                date: arriveDate,
                icons: {
                    time: "icon icon-time",
                    date: "icon icon-calendar",
                    up: "icon icon-chevron-up",
                    down: "icon icon-chevron-down",
                    next: "icon icon-chevron-right",
                    previous: "icon icon-chevron-left"
                },
                format: "YYYY/MM/DD H:m"
            });

            $("#datetimepicker1").on("dp.change",function(){
                var date = $("#datetimepicker1").find('input').val();
                $("#datetimepicker2").find('input').val(date);
            });

            $('#datetimepicker2').datetimepicker({
                date: leaveDate,
                icons: {
                    time: "icon icon-time",
                    date: "icon icon-calendar",
                    up: "icon icon-chevron-up",
                    down: "icon icon-chevron-down",
                    next: "icon icon-chevron-right",
                    previous: "icon icon-chevron-left"
                },
                format: "YYYY/MM/DD H:m"
            });
        });
    </script>
{% endblock %}
