{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ step.name }}, {{ travel.description|truncate(120, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': step.id} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="travel-body-step">
                    <div class="span8">
                        <div class="travel-body-section-step">
                            <i class="icon-map-marker"></i>
                            Travel Step : <span class="trv-chart-step-name">{{ step.point.name }}</span>
                            {% if isOwner %}
                                <span class="travel-body-section-edit">
                                    <a href="{{ path('travel_set_step_time', {'stepId': step.id}) }}">Set Date</a>
                                </span>
                            {% endif %}
                        </div>
                        {% if (step.arriveDate or step.leaveDate) %}
                        <div class="travel-body-section-step-desc">
                            <div>
                                {% if step.arriveDate %}
                                <span class="travel-body-section-step-date-title"><i class="icon-time"></i> Arrive : </span>
                                <span class="travel-body-section-step-date">{{ step.arriveDate|date("j F Y H:i") }}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if step.leaveDate %}
                                <span class="travel-body-section-step-date-title"><i class="icon-time"></i> Leave : </span>
                                <span class="travel-body-section-step-date">{{ step.leaveDate|date("j F Y H:i") }}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if (step.arriveDate and step.leaveDate) and (step.leaveDate > step.arriveDate) %}
                                <span class="travel-body-section-step-date-title">How Long : </span>
                                <span class="travel-body-section-step-date">
                                    {% set difference = date(step.leaveDate|date('d-m-Y H:i')).diff(date(step.arriveDate|date('d-m-Y H:i'))).format(' %mm %dd %hh %im') %}
                                    {{ difference|replace({" 0m": ""," 0d": "", " 0h" : " ", " 0m": " "}) }}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="travel-body-section">
                            Places
                            {% if isOwner %}
                                <span class="travel-body-section-edit">
                                    <a href="{{ path('travel_add_place', { 'stepSlug': step.slug, 'stepId': step.id}) }}"> Add Place</a>
                                    {% if step.placeItems|length > 0 %}
                                    |
                                    <a href="{{ path('travel_edit_places', { 'stepSlug': step.slug, 'stepId': step.id}) }}"> Edit</a>
                                    {% endif %}
                                </span>
                            {% endif %}
                        </div>
                        {% if step.placeItems|length > 0 %}
                            {% for placeItem in step.placeItems %}
                                <div class="travel-body-section-place">
                                    <div class="span2 travel-body-section-place-img">
                                        <img src="{% path placeItem.place.image, 'big' %}" width="80" alt="{{ placeItem.place.name }}">
                                    </div>
                                    <div class="span10 travel-body-section-place-main">
                                        <div class="travel-body-section-place-title">
                                            <a href="{{ path('place_show', {'slug': placeItem.place.slug, 'placeId': placeItem.place.id}) }}">{{ placeItem.place.name }}</a>
                                        </div>
                                        {% if placeItem.place.types|length > 0 %}
                                        <div class="travel-body-section-place-type">
                                            <strong><span>Categories : </span></strong>
                                            {% set count = 1 %}
                                            {% for type in placeItem.place.types %}
                                                {% if count > 1 %}
                                                    <span class="travel-body-section-place-type-text"> | </span>
                                                {% endif %}
                                                <span class="travel-body-section-place-type-text">{{ type.name }}</span>
                                                {% set count = count+1 %}
                                            {% endfor %}

                                        </div>
                                        {% endif %}
                                        <div class="travel-body-section-place-text">
                                            <strong>Address:</strong> {{ placeItem.place.address }}
                                        </div>
                                        <div class="travel-body-section-place-status">
                                            {% if placeItem.place.reviews|length > 0 %}
                                                <span class="travel-body-section-place-status-title">Reviews : </span>
                                                <span class="travel-body-section-place-status-text"> {{ placeItem.place.reviews|length }} &#8212; </span>
                                            {% endif %}
                                            <a href="{{ path('place_add_review', {'slug': placeItem.place.slug, 'placeId': placeItem.place.id}) }}">Add Review</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="travel-body-section-no-notes">Step has no place!</div>
                        {% endif %}

                        <div class="travel-body-section">
                            Notes
                            {% if isOwner %}
                                <span class="travel-body-section-edit">
                                    <a href="{{ path('travel_add_step_note', {'stepId': step.id}) }}">New Note</a>
                                </span>
                            {% endif %}
                        </div>
                        {% if step.stepNotes|length > 0 %}
                            {% for note in step.stepNotes %}
                                <div class="travel-body-section-note">
                                    {% if isOwner %}
                                        <div><a href="#" class="travel-body-section-close" onclick="deleteNote({{ note.id }})">×</a></div>
                                    {% endif %}
                                    <div>{{ note.text|nl2br|converturls }}</div>
                                    <div class="travel-body-section-note-date">
                                        <a href="{{ path('sonata_user_profile_show', {'username': note.user.username}) }}">{{ note.user.firstName }}</a>
                                        &#8212; {{ note.createdAt|date("j F Y H:i") }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="travel-body-section-no-notes">Step has no notes!</div>
                        {% endif %}

                    </div>
                    <div class="span4">
                        <div class="travel-body-section-right">Information</div>
                        {% if step.point.image.name != 'default-point.jpg' %}
                            <img class="trv-place-chart-img" src="{% path step.point.image, 'big' %}" alt="{{ step.point.name }}"/>
                        {% endif %}
                        <div class="travel-body-step-info-name">{{ step.point.name }}</div>
                        <div class="trv-chart-line"></div>
                        <p class="travel-body-step-info-text">{{ step.point.address }}</p>
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        function deleteNote(noteId)
        {
            var ask = confirm('Are you sure you want to delete this Note?');

            if (ask) {
                location.href = Routing.generate('travel_delete_step_note', { "stepNoteId": noteId });
            }
        }

    </script>

{% endblock %}
