<div class="sidebar-nav">
    <ul class="nav nav-list trv-side-menu">
        <li {% if page == 'set_step_time' %} class="active" {% endif %}><a href="{{ path('travel_set_step_time', { 'stepId': step.id}) }}"><i class="icon-time"></i> Set Date</a></li>
        <li {% if page == 'add_step_note' %} class="active" {% endif %}><a href="{{ path('travel_add_step_note', { 'stepId': step.id}) }}"><i class="icon-edit"></i> Add Step Note</a></li>
        <li {% if page == 'add_place' %} class="active" {% endif %}><a href="{{ path('travel_add_place', { 'stepSlug': step.slug, 'stepId': step.id}) }}"><i class="icon-map-marker"></i> Add New Place</a></li>
        <li {% if page == 'edit_places' %} class="active" {% endif %}><a href="{{ path('travel_edit_places', { 'stepSlug': step.slug, 'stepId': step.id}) }}"><i class="icon-list"></i> Organize Places</a></li>
    </ul>
</div>