{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block breadcrumbTitle %}Profile{% endblock %}
{% block breadcrumbLink %}
    <li><a href="{{ path('sonata_user_profile_show', {'username': user.username}) }}">Profile</a><span class="divider">/</span></li>
    <li class="active">Profile Settings</li>
{% endblock %}

{% block body %}

    {% block sonata_profile_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <!-- Information Blokcs -->
            <div class="row-fluid margin-bottom-20">
                <div class="span4">
                    {% include 'ApplicationSonataUserBundle:Profile:profile-cart.html.twig' %}
                </div><!--/span3-->

                <div class="span8" style="margin-top: -20px;">
                    <div class="span8">
                        <div class="headline"><h3>Profile Settings</h3></div>
                        <div class="row-fluid">
                            <form method="post" action="{{ path('sonata_user_profile_edit') }}">
                                {% if form_errors(form) %}
                                    <div class="form-error-main">
                                        {{ form_errors(form) }}
                                    </div>
                                {% endif %}
                                <div class="controls">
                                    <label>Name <span class="color-red">*</span></label>
                                    {{ form_widget(form.firstname, {'attr': {'class':'span12'}}) }}
                                    {% if form_errors(form.firstname) %}
                                        <div class="form-error-main">{{ form_errors(form.firstname) }}</div>
                                        <div style="clear:both"></div>
                                    {% endif %}
                                </div>
                                <div class="controls">
                                    <label>About</label>
                                    {{ form_widget(form.biography, {'attr': {'class':'span12'}}) }}
                                </div>
                                <div class="controls form-inline">
                                    <input class="btn-u" type="submit" value="Save">
                                </div>
                                {{ form_widget(form._token) }}
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="headline"><h3>Settings</h3></div>
                        {% include 'ApplicationSonataUserBundle:Profile:profile-menu.html.twig' with {'page': 'edit_profile'} %}
                    </div>
                </div><!--/span9-->
            </div><!--/row-fluid-->
            <!-- //End Information Blokcs -->
        </div><!--/container-->
        <!-- End Content Part -->
    {% endblock %}

{% endblock body %}
