{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block breadcrumbTitle %}Profile{% endblock %}
{% block breadcrumbLink %}
    <li><a href="{{ path('sonata_user_profile_show', { 'username': app.user.username }) }}">Profile</a><span class="divider">/</span></li>
    <li class="active">Account Settings</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
    <!-- Information Blokcs -->
    <div class="row-fluid margin-bottom-20">
        <div class="span4">
            {% include 'ApplicationSonataUserBundle:Profile:profile-cart.html.twig' %}
        </div><!--/span3-->

        <div class="span8" style="margin-top: -20px;">
            <div class="span8">
                <div class="headline"><h3>Account Settings</h3></div>
                <div class="row-fluid">
                    <form method="post" action="{{ path('sonata_user_profile_edit_authentication', { 'username': app.user.username }) }}" novalidate>
                        {% if form_errors(form) %}
                            <div class="form-error-main">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        <div class="controls">
                            <label>Username<span class="color-red">*</span></label>
                            {{ form_widget(form.username, {'attr': {'class':'span12'}}) }}
                            {% if form_errors(form.username) %}
                                <div class="form-error-main">{{ form_errors(form.username) }}</div>
                                <div style="clear:both"></div>
                            {% endif %}
                        </div>
                        <div class="controls">
                            <label>Email <span class="color-red">*</span></label>
                            {{ form_widget(form.email, {'attr': {'class':'span12'}}) }}
                            {% if form_errors(form.email) %}
                                <div class="form-error-main">{{ form_errors(form.email) }}</div>
                                <div style="clear:both"></div>
                            {% endif %}
                        </div>
                        <div class="controls">
                            <label>Password<span class="color-red">*</span></label>
                            {{ form_widget(form.current_password, {'attr': {'class':'span12'}}) }}
                            {% if form_errors(form.current_password) %}
                                <div class="form-error-main">{{ form_errors(form.current_password) }}</div>
                                <div style="clear:both"></div>
                            {% endif %}
                        </div>
                        <div class="controls form-inline">
                            <input class="btn-u" type="submit" value="Change">
                        </div>
                    </form>
                </div>
            </div>
            <div class="span4">
                <div class="headline"><h3>Settings</h3></div>
                {% include 'ApplicationSonataUserBundle:Profile:profile-menu.html.twig' with {'page': 'edit_authentication'} %}
            </div>
        </div><!--/span9-->
    </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->

{% endblock body %}