
<div class="booking-blocks" style="margin-bottom: 40px;">
    <div class="booking-img">
        <img src="{% path user.image, 'big' %}" alt="{{ user.firstname }} {{ user.lastname }}"/>
    </div>
    <div class="profile-info-about">
        <h2><a href="{{ path('fos_user_profile_show', {'username': user.username}) }}">{{ user.firstname }}</a></h2>
    <p>
        {% if app.user is not null and app.user.username == user.username %}
            {% if user.biography != null %}
                {{ user.biography }}
            {% else %}
                <a href="{{ path('fos_user_profile_edit') }}">Write something about you</a>
            {% endif %}
        {% endif %}
    </p>
    </div>
    <div class="profile-info">
    <ul class="unstyled">
        <li><i class="icon-envelope-alt"></i> {{ user.email }}</li>
        <li>
            <i class="icon-time"></i>
            Joined on {{ user.createdAt|date("j F Y") }}
        </li>
        <!--
        <li>
            <i class="icon-map-marker"></i>
            {% if user.locale != null %}
                {{ user.locale }}
            {% else %}
                <a href="">Pin your place</a>
            {% endif %}
        </li>
        -->
        {% if app.user is not null and  app.user.username == user.username %}
        <li>
            <i class="icon-cog"></i>
            <a href="{{ path('sonata_user_profile_edit') }}">settings</a>
        </li>
        {% endif %}
    </ul>
    </div>
    <div class="profile-info-numb">
     <div class="profile-info-item">
         <a class="no-underline" href="{{ path('sonata_user_profile_show', {'username': user.username}) }}">
             <div class="profile-info-item-count">{{ user.getTravels|length }}</div>
             <div class="profile-info-item-text-active">travels</div>
         </a>
     </div>
    </div>
</div>