<div class="sidebar-nav">
    <ul class="nav nav-list trv-side-menu">
        <li {% if page == 'edit_profile' %} class="active" {% endif %}><a href="{{ path('sonata_user_profile_edit') }}"><i class="icon-user"></i> Profile Settings</a></li>
        <li {% if page == 'edit_authentication' %} class="active" {% endif %}><a href="{{ path('fos_user_profile_edit_authentication') }}"><i class="icon-cog"></i> Account Settings</a></li>
        <li {% if page == 'change_password' %} class="active" {% endif %}><a href="{{ path('sonata_user_change_password') }}"><i class="icon-lock"></i> Change Password</a></li>
        <li {% if page == 'change_picture' %} class="active" {% endif %}><a href="{{ path('sonata_user_profile_picture') }}"><i class="icon-picture"></i> Profile Picture</a></li>
    </ul>
</div>