{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block breadcrumbTitle %}Profile{% endblock %}
{% block breadcrumbLink %}
    <li><a href="{{ path('sonata_user_profile_show', {'username':app.user.username}) }}">Profile</a><span class="divider">/</span></li>
    <li class="active">Profile Picture</li>
{% endblock %}

{% block body %}
<!--=== Content Part ===-->
<div class="container">	
	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
		<div class="span4">
             {% include 'ApplicationSonataUserBundle:Profile:profile-cart.html.twig' %}
        </div><!--/span3-->
        
		<div class="span8" style="margin-top: -20px;">
			<div class="span8">
                <div class="headline"><h3>Profile Picture</h3></div>
                <div class="row-fluid">
                    <form method="post" action="{{ path('sonata_user_profile_picture') }}" {{ form_enctype(form) }}>
                        {% if form_errors(form.image) %}
                        <div class="form-error-main">
                            {{ form_errors(form.image) }}
                        </div>
                        {% endif %}
                        <div class="controls">
                            <label>Select Picture</label>
                            {{ form_widget(form.image) }}
                        </div>
                        <div class="controls form-inline">
                            <input class="btn-u" type="submit" value="Save">
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
			</div>
			<div class="span4">
                <div class="headline"><h3>Settings</h3></div>
                {% include 'ApplicationSonataUserBundle:Profile:profile-menu.html.twig' with {'page': 'change_picture'} %}
            </div>
        </div><!--/span9--> 
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->
</div><!--/container-->		
<!-- End Content Part -->
{% endblock %}