{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block breadcrumbTitle %}Profile{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Profile</li>
{% endblock %}

{% block body %}

    {% block sonata_profile_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <!-- Information Blokcs -->
            <div class="row-fluid margin-bottom-20">
                <div class="span4">
                    {% include 'ApplicationSonataUserBundle:Profile:profile-cart.html.twig' %}
                </div><!--/span3-->

                <div class="span8" style="margin-top: -20px;">
                    <div class="headline"><h3>Travels</h3></div>
                    {% if user.getTravels|length == 0 %}
                    <div class="alert">
                        No travel was found!
                        {% if app.user is not null and  app.user.username == user.username %}
                            <a href="{{ path('app_homepage') }}">Create New Travel</a>
                        {% endif %}
                    </div>
                    {% else %}
                        {% for travel in user.getTravels %}
                            <div class="profile-item-main">
                                <div class="profile-item-title">
                                    <a href="{{ path('travel_show', {'slug': travel.slug, 'travelId': travel.getId}) }}">{{ travel.getName }}</a>
                                </div>
                                <div class="profile-item-desc">{{ travel.description|truncate(200, false, '...')|nl2br }}</div>
                                <div class="profile-item-line"></div>
                                <div class="profile-item-info">
                                    <span class="profile-item-icon"><i class="icon-map-marker"></i></span>
                                    <span class="profile-item-info-title">Steps : </span>
                                    <span class="profile-item-info-numb">{{ travel.steps|length }}</span>
                                    &nbsp;
                                    <span class="profile-item-icon"><i class="icon-thumbs-up"></i></span>
                                    <span class="profile-item-info-title">Likes : </span>
                                    <span class="profile-item-info-numb">{{ travel.travelLike.users|length }}</span>
                                </div>
                                <div class="profile-item-info-date-main">
                                    <span class="profile-item-info-date">{{ travel.createdAt|date("j F Y H:i") }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div><!--/span9-->
            </div><!--/row-fluid-->
            <!-- //End Information Blokcs -->
        </div><!--/container-->
        <!-- End Content Part -->
    {% endblock %}

{% endblock body %}
