{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ step.name }}, {{ travel.description|truncate(120, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': step.id} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="travel-body-step">
                    <div class="span8">
                        <div class="travel-body-section-step">
                            <i class="icon-map-marker"></i>
                            Travel Step : <span class="trv-chart-step-name">{{ step.point.name }}</span>
                        </div>
                        <div class="travel-body-section">Add Place</div>

                        <div class="nav-tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('travel_add_place', {'stepSlug': step.slug, 'stepId': step.id}) }}">
                                        <i class="icon-list"></i> Places
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('travel_find_place', {'stepSlug': step.slug, 'stepId': step.id}) }}">
                                        <i class="icon-map-marker"></i> Find Place
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="trv-map-main">
                            <div class="trv-place-type-box">
                                <select class="place-type" title="Place Types">
                                    {% for type in types %}
                                        <option id="{{ type.type }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                                Click icon to add place
                            </div>
                            <div id="map_canvas" style="width: 100%; height: 350px"></div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="travel-body-section-right">Settings</div>
                        {% include 'TravelBundle:Step:step-settings-menu.html.twig' with {'page':'add_place', 'travelId': travel.id} %}
                        <form method="post" action="{{ path('travel_add_place', {'stepSlug': step.slug, 'stepId': step.id}) }}">
                            {{ form_widget(form.image, {'type': 'hidden'}) }}
                            <input id='location' type='hidden' name='location' value=''>
                            {{ form_rest(form) }}
                            <div id="trv-add-place-info">
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        /**
         * The initial Map center.
         */
        var mapCenter = [{{ step.latitude }}, {{ step.longitude }}];

        /**
         * The initial Map zoom level.
         */
        var mapZoom = 12;

        /**
         * Data for the markers consisting of a name, a latitude, longitude and address
         * @type {Array}
         */
        var locations = [];

        /**
         * color of the marker on the map
         */
        var markerColor = 'default';

        /**
         * Line Color
         */
        var polyLineColor = '#E82087';

        /**
         * Google Map
         */
        var googleMap;

        /**
         * Auto complete place
         */
        var place;

        var service;

        /**
         * Marker
         * @type {Array}
         */
        var marker = [];

        function initialize() {

            var config = {
                zoom: mapZoom,
                mapTypeControl: false,
                streetViewControl: false,
                center: new google.maps.LatLng(mapCenter[0], mapCenter[1])
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), config);

            infowindow = new google.maps.InfoWindow();
            service = new google.maps.places.PlacesService(map);

            service.nearbySearch({
                location: new google.maps.LatLng(mapCenter[0], mapCenter[1]),
                radius: 12000,
                type: ['{{ types|first.type }}']
            }, callback);

            $( ".place-type" ).change(function() {
                $( "select option:selected" ).each(function() {
                    var type = $(this).attr('id');
                    deleteMap();
                    service.nearbySearch({
                        location: new google.maps.LatLng(mapCenter[0], mapCenter[1]),
                        radius: 12000,
                        type: [type]
                    }, callback);
                });
            });
        }

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    place = results[i];

                    var placeImage = '';
                    if (place.photos) {
                        placeImage = place.photos[0].getUrl({'maxWidth': 500, 'maxHeight': 500});
                    }

                    if (!place.geometry) {
                        return;
                    }

                    var loc = place.geometry.location;

                    var latitude = loc.lat(function ($a) {
                        return $a;
                    });

                    var longitude = loc.lng(function ($a, $b) {
                        return $b;
                    });
                    locations.push([place.name, latitude, longitude, place.vicinity, placeImage, place.place_id, place.types]);
                }
            }
            makeMap();
        }

        function deleteMap() {

            for (var i = 0; i < locations.length; i++) {
                marker[i].setMap(null);
            }

            locations = [];
        }

        function makeMap() {

            for (var d = 0; d < locations.length; d++) {
                var c = locations[d];
                var g = new google.maps.LatLng(c[1], c[2]);
                marker[d] = new google.maps.Marker({
                    position: g,
                    title: c[0],
                    zIndex: d,
                    map: googleMap
                });
                marker[d].setMap(map);

                google.maps.event.addListener(marker[d], 'click', (function(c) {
                    return function () {
                        infowindow.setContent(c[0]);
                        infowindow.open(map, this);
                        addPlaceInfo(c);
                    }
                })(c));
            }
        }

        function addPlaceInfo(loc){

            service.getDetails({
                placeId: loc[5]
            }, function(detailPlace, newstatus) {
                if (newstatus === google.maps.places.PlacesServiceStatus.OK) {
                    loc.push(detailPlace.reviews);
                }

                var placeImg = '';

                if (loc[4] != ''){
                    placeImg =  '<div>' +
                                    '<img src="' + loc[4] + '">' +
                                '</div>';
                }

                var html = '<div class="travel-body-section">Add Place</div>' +
                            '<div class="trv-place-box-main">' + placeImg +
                                '<div>' +
                                    '<div class="trv-place-box-name"><strong>' + loc[0] + '</strong></div>' +
                                    '<div class="trv-place-box-line"></div>' +
                                    '<div class="trv-place-box-address">' + loc[3] + '</div>' +
                                '</div>' +
                                '<div class="trv-place-box-button"><button type="submit" class="btn-u" style="background-color: #5bc0de;">Add</button></div>' +
                            '</div>';

                $('#trv-add-place-info').html(html);

                $('#location').val(JSON.stringify(loc));
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak"></script>
    <script>
        google.maps.event.addDomListener(window, "load", initialize);
    </script>
{% endblock %}
