{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ travel.name }} {% endblock %}
{% block description %}Trip, {{ travel.name }}, {{ step.name }}, {{ travel.description|truncate(120, false, '') }}{% endblock %}

{% block breadcrumbTitle %}{{ travel.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active" xmlns="http://www.w3.org/1999/html">Travels<span class="divider">/</span></li>
    <li class="active">{{ travel.getName }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">

            <div class="span3 trv-left-block">
                {% include 'TravelBundle:Travel:travel-chart.html.twig' with {'travel': travel, 'user': user, 'isOwner': isOwner} %}
                <div class="headline"><h3>Travel Steps</h3></div>
                {% include 'TravelBundle:Travel:travel-steps.html.twig' with {'travelSteps': travel.steps, 'currentStepId': step.id} %}
            </div><!--/span3-->

            <div class="span9">
                <div class="travel-body-step">
                    <div class="span8">
                        <div class="travel-body-section-step">
                            <i class="icon-map-marker"></i>
                            Travel Step : <span class="trv-chart-step-name">{{ step.point.name }}</span>
                        </div>
                        {% if step.placeItems|length != 0 %}
                        <div class="travel-body-section">Organize Places</div>
                        <div class="">To sort move (drag and drop) and save. To delete click trash button.</div>
                        <form method="post" action="{{ path('travel_edit_places', { 'stepSlug': step.slug, 'stepId': step.id}) }}" novalidate>
                            <div class="trv-sort">
                                {% for placeItem in step.placeItems %}
                                    <div class="trv-sort-item">
                                        <div class="span10 trv-sort-step-name">
                                            <input name="order[{{ placeItem.id }}]" type="hidden" value="{{ placeItem.itemOrder }}">
                                            <i class="icon-map-marker"></i> {{ placeItem.place.name }}
                                        </div>
                                        <div class="span2 pull-right">
                                            <a href="#" class="btn btn-default" onclick="deletePlaceItem({{ placeItem.id }})"><i class="icon-trash" title="Delete"></i></a>
                                            <a href="#" class="btn btn-default trv-step-move-btn" onclick="" ><i class="icon-move" title="Move"></i></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="controls form-inline" style="margin-top: 5px">
                                <input class="btn-u" type="submit" value="Save">
                            </div>
                        </form>
                        {% else %}
                            <div class="alert">No place to organize!</div>
                        {% endif %}
                    </div>
                    <div class="span4">
                        <div class="travel-body-section-right">Settings</div>
                        {% include 'TravelBundle:Step:step-settings-menu.html.twig' with {'page':'edit_places'} %}
                    </div>
                </div>
            </div><!--/span9-->
        </div><!--/row-fluid-->
        <!-- //End Information Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/appbundle/css/jquery-ui-1.11.2.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appbundle/js/jquery-ui-1.11.2.js') }}"></script>
    <script type="text/javascript">
        $('.trv-sort').sortable({
            opacity: 0.6,
            stop: function (event, ui) {
                var order = 1;
                $('.trv-sort :input').each(function() {
                    $(this).val(order);
                    order++;
                });
            }
        });

        function deletePlaceItem(placeItemId){
            var ask = confirm('Are you sure you want to delete this Place?');

            if (ask) {
                location.href = Routing.generate('travel_delete_place_item', { placeItemId : placeItemId })
            }
        }
    </script>
    <style>
        .trv-sort-item{
            clear: both;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #f7f7f7;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px dashed #ddd;
        }
        .trv-sort-item:hover{
            cursor: move;
            background-color: #f4f4f4;
        }
        .trv-sort-step-name{
            padding-left: 10px;
            font-size: 16px;
            font-weight: 500;
            padding-top: 3px;
        }
        .trv-step-move-btn:hover{
            cursor: move;
        }
    </style>
{% endblock %}
