{% extends 'base.html.twig' %}

{% block title %} Step The World | {{ place.name }} {% endblock %}
{% block description %}Place to visit, {{ place.name }}, {% for type in place.types %}{{ type.name }}, {% endfor %}{% endblock %}

{% block breadcrumbTitle %}{{ place.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Places<span class="divider">/</span></li>
    <li class="active">{{ place.name }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">
            <div class="span3 trv-left-block">
                <div class="trv-place-chart">
                    <div class="trv-place-chart-place-main">
                        <img class="trv-place-chart-img" src="{% path place.image, 'big' %}" alt="{{ place.name }}"/>
                    </div>
                    <div class="trv-chart-line"></div>
                    <div class="sidebar-nav">
                        <ul class="nav nav-list trv-side-menu">
                            <li class="active"><a href="{{ path('place_show', {'slug': place.slug, 'placeId': place.id}) }}"><i class="icon-pencil"></i> Reviews</a></li>
                            <li><a href="{{ path('place_add_review', {'slug': place.slug, 'placeId': place.id}) }}"><i class="icon-plus"></i> Add a review</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="trv-place-body-text">
                    <div class="trv-place-body-name">{{ place.name }}</div>
                    <div>
                        {% if place.types|length > 0 %}
                        <span class="trv-place-body-cat">Categories : </span>
                        {% set count = 1 %}
                        {% for type in place.types %}
                            {% if count > 1 %}
                            <span class="trv-place-body-type"> | </span>
                            {% endif %}
                            <span class="trv-place-body-type">{{ type.name }}</span>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <b>Address:</b> {{ place.address }}
                </div>
                <div class="trv-place-body-section">
                    Reviews
                    {% if user is not null %}
                        <span class="travel-body-section-edit">
                            <i class="icon-pencil"></i>
                            <a href="{{ path('place_add_review', {'slug': place.slug, 'placeId': place.id}) }}">Add Review</a>
                        </span>
                    {% endif %}
                </div>
                {% if place.reviews|length > 0 %}
                    {% for review in place.reviews %}
                        <div class="travel-body-section-note">
                            {% if user is not null %}
                                {% if review.creator is not null and review.creator.id == user.id %}
                                    <div><a href="#" class="travel-body-section-close" onclick="deleteReview({{ review.id }})">×</a></div>
                                {% endif %}
                            {% endif %}
                            <div>{{ review.text|nl2br }}</div>
                            <div class="travel-body-section-note-date">
                                {% if review.creator is null %}
                                    Author : {{ review.author }}
                                    &#8212; {{ review.date|date("j F Y H:i") }}
                                {% else %}
                                <a href="{{ path('sonata_user_profile_show', {'username': review.creator.username}) }}">{{ review.creator.firstName }}</a>
                                &#8212; {{ review.createdAt|date("j F Y H:i") }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="travel-body-section-no-notes">Place has no reviews!</div>
                {% endif %}
            </div>
            <div class="span3">
                <iframe
                        width="270"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak&q={{ place.address }}"
                >
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        function deleteReview(reviewId)
        {
            var ask = confirm('Are you sure you want to delete this Review?');

            if (ask) {
                location.href = Routing.generate('place_delete_review', { "reviewId": reviewId });
            }
        }

    </script>

{% endblock %}
