{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Reset Password{% endblock %}
{% block breadcrumbLink %}
    <li><a href="{{ path('fos_user_security_login') }}">Login</a> <span class="divider">/</span></li>
    <li class="active">Reset Password</li>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock fos_user_content %}

{% endblock body %}
