{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Reset Password{% endblock %}
{% block breadcrumbLink %}
    <li><a href="{{ path('fos_user_security_login') }}">Login</a> <span class="divider">/</span></li>
    <li class="active">Reset Password</li>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <div class="row-fluid">
                <form method="post" action="{{ path('fos_user_resetting_send_email') }}" class="reg-page">
                <h3>Reset Password</h3>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                    {% endif %}
                    <div class="controls">
                        <label for="username">Email <span class="color-red">*</span></label>
                        <input class="span12" type="text" id="username" name="username" required="required"/>
                    </div>
                    <div class="controls form-inline">
                        <input class="btn-u pull-right" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}">
                    </div>
                </form>
            </div><!--/row-fluid-->
        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock fos_user_content %}

{% endblock body %}
