{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Reset Password{% endblock %}
{% block breadcrumbLink %}
    <li><a href="{{ path('fos_user_security_login') }}">Login</a> <span class="divider">/</span></li>
    <li class="active">Reset Password</li>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        <!--=== Content Part ===-->
        <div class="container">
            <div class="row-fluid">
                <form method="post" class="reg-page" action="{{ path('sonata_user_resetting_reset', {'token': token}) }}" novalidate>
                    {% if form_errors(form) %}
                        <div class="form-error-main">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    <div class="controls">
                        <label>New Password <span class="color-red">*</span></label>
                        {{ form_widget(form.new.first, {'attr': {'class':'span12'}}) }}
                        {% if form_errors(form.new.first) %}
                            <div class="form-error-main">{{ form_errors(form.new.first) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                    </div>
                    <div class="controls">
                        <label>New Password Again <span class="color-red">*</span></label>
                        {{ form_widget(form.new.second, {'attr': {'class':'span12'}}) }}
                        {% if form_errors(form.new.second) %}
                            <div class="form-error-main">{{ form_errors(form.new.second) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                    </div>
                    <div class="controls form-inline">
                        <input class="btn-u" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}">
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div><!--/row-fluid-->
        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock fos_user_content %}

{% endblock body %}
