{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}Login{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Login</li>
{% endblock %}
{% block flashmessage %}
    <div class="container" style="margin-top: 20px;">
        {% for flashMessage in app.session.flashbag.get('social-login-error') %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Once Again! </strong>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block body %}

    {% block fos_user_content %}

        <!--=== Content Part ===-->
        <div class="container">
            <div class="row-fluid">
                <form  method="post" role="form" action="{{ path('fos_user_security_check') }}" class="log-page">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <h3>Login</h3>
                    {% block sonata_user_login_error %}
                        {% if error %}
                            <div class="form-error-main">
                                <ul>
                                    <li>{{ error|trans({}, 'FOSUserBundle') }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endblock %}
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="input-xlarge" name="_username" type="text" placeholder="Username"  value="{{ last_username }}"/>
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="input-xlarge" name="_password" type="password" placeholder="Password" />
                </div>
                <div class="controls form-inline">
                    <label class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                         {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                    <input class="btn-u pull-right" type="submit" id="_submit" name="_submit" value="Login" />
                </div>
                <hr />
                    <a class="btn-login btn-block btn-social btn-facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">
                        <span class="icon icon-facebook"></span>
                        Sign in with Facebook
                    </a>
                <hr />
                <h5>Forget your password ?</h5>
                <p><a href="{{ path('fos_user_resetting_request') }}">Reset</a> your password.</p>
                <h5>Don't have an account ?</h5>
                <p><a href="{{ path('fos_user_registration_register') }}">Register</a></p>
                </form>
            </div><!--/row-fluid-->
        </div><!--/container-->
        <!--=== End Content Part ===-->

    {% endblock fos_user_content %}

{% endblock body %}
