{% extends 'base.html.twig' %}

{% block breadcrumbTitle %}{{ place.name }}{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Places<span class="divider">/</span></li>
    <li class="active">{{ place.name }}</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <!-- Information Blokcs -->
        <div class="row-fluid margin-bottom-20">
            <div class="span3 trv-left-block">
                <div class="trv-place-chart">
                    <div class="trv-place-chart-place-main">
                        <img src="{% path place.image, 'big' %}" alt="{{ place.name }}">
                    </div>
                    <div class="trv-chart-line"></div>
                    <div class="sidebar-nav">
                        <ul class="nav nav-list trv-side-menu">
                            <li><a href="{{ path('place_show', {'slug': place.slug, 'placeId': place.id}) }}"><i class="icon-pencil"></i> Reviews</a></li>
                            <li class="active"><a href="{{ path('place_add_review', {'slug': place.slug, 'placeId': place.id}) }}"><i class="icon-plus"></i> Add a review</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="trv-place-body-text">
                    <div class="trv-place-body-name">{{ place.name }}</div>
                    <b>Address:</b> {{ place.address }}
                </div>
                <div class="trv-place-body-section">
                    <i class="icon-pencil"></i> Add Review
                </div>
                <div class="row-fluid">
                    <form method="post" action="{{ path('place_add_review', { 'slug': place.slug, 'placeId': place.id}) }}">
                        <label>Review <span class="color-red">*</span></label>
                        {{ form_widget(form.text, {'attr': {'class':'span12'}}) }}
                        {% if form_errors(form.text) %}
                            <div class="form-error-main span7">{{ form_errors(form.text) }}</div>
                            <div style="clear:both"></div>
                        {% endif %}
                        {{ form_rest(form) }}
                        <p><button type="submit" class="btn-u">Add</button></p>
                    </form>
                </div>
            </div>
            <div class="span3">
                <iframe
                        width="270"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak&q={{ place.address }}"
                >
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}
