{% block _application_sonata_userbundle_entity_user_subject_component %}
    <a href="{{ path('sonata_user_profile_show', {'username': value.username}) }}"> {{ value.firstname }}</a>
{% endblock %}

{% block _travelbundle_entity_travel_default_component %}
    <!-- TODO: get travel by id[0] -->
    <a href="{{ path('travel_show', {'slug': 'travel', 'travelId': id[0]}) }}"> Travel</a>
{% endblock %}

{% block _travelbundle_entity_generalnote_default_component %}
    note
{% endblock %}

{% block _travelbundle_entity_stepnote_default_component %}
    note
{% endblock %}

{% block _travelbundle_entity_step_default_component %}
    {% set timeLineStep = getStep(id[0]) %}
    Step: <a href="{{ path('travel_show_step', {'stepSlug': timeLineStep.slug, 'stepId': timeLineStep.id, 'slug': timeLineStep.travel.slug}) }}">{{ timeLineStep.point.name }}</a>
{% endblock %}

{% block _placebundle_entity_place_default_component %}
    {% set timeLinePlace = getPlace(id[0]) %}
    Place: <a href="{{ path('place_show', {'slug': timeLinePlace.slug, 'placeId': timeLinePlace.id}) }}"> {{ timeLinePlace.name }}</a>
{% endblock %}