<a href="{{ path('place_show', {'slug':object.slug, 'placeId': object.id}) }}" class="btn btn-sm btn-default edit_link" title="Preview" target="_blank">
    <i class="fa fa-external-link"></i>
    Preview
</a>