{% extends 'base.html.twig' %}

{% block title %} Step The World | Contact {% endblock %}

{% block breadcrumbTitle %}Contact{% endblock %}
{% block breadcrumbLink %}
	<li class="active">Contact</li>
{% endblock %}

{% block body %}
<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
		<div class="span9">
			
            <p>Please fill the form below and send your message. We will contact you back as soon as possible</p><br />
			{% for flashMessage in app.session.flashbag.get('contact-notice') %}
				<div class="form-success-main">
					{{ flashMessage }}
				</div>
			{% endfor %}
            {% if form_errors(form) %}
            <div class="form-error-main">
            	{{ form_errors(form) }}
            </div>
            {% endif %}
			<form method="post" action="{{ path('app_contact') }}" {{ form_enctype(form) }}>
                <label>Name <span class="color-red">*</span></label>
                {{ form_widget(form.name, {'attr': {'class':'span7'}}) }}
                {% if form_errors(form.name) %}
                <div class="form-error-main span7">{{ form_errors(form.name) }}</div>
                <div style="clear:both"></div>
            	{% endif %}
                <label>Email <span class="color-red">*</span></label>
                {{ form_widget(form.email, {'attr': {'class':'span7'}}) }}
                {% if form_errors(form.email) %}
                <div class="form-error-main span7">{{ form_errors(form.email) }}</div>
                <div style="clear:both"></div>
            	{% endif %}
                <label>Message <span class="color-red">*</span></label>
                {{ form_widget(form.message, {'attr': {'class':'span10', 'rows':'8'}}) }}
                {% if form_errors(form.message) %}
                <div class="form-error-main span10">{{ form_errors(form.message) }}</div>
                <div style="clear:both"></div>
            	{% endif %}
                <p><button type="submit" class="btn-u">Send Message</button></p>
                {{ form_rest(form) }}
            </form>
        </div><!--/span9-->

        <div class="span3">
            <!-- Why we are? -->
            <div class="headline"><h3>Step The World</h3></div>
            <p>Arndstraße 34, 19165 Berlin / Germany</p>
            <p>Please contact us if you have any of the following</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Feedback about our platform</li>
                <li><i class="icon-ok color-green"></i> Suggestions</li>
                <li><i class="icon-ok color-green"></i> Need for help</li>
                <li><i class="icon-ok color-green"></i> Advertisement</li>
            </ul>
        </div><!--/span3-->        
    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}