{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/DrawDirectionOnMap.css') }}" />
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
<!--=== Content Part ===-->
<div class="container">	
	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">

        <div class="span3">
			<div class="headline"><h3>Travel Steps</h3></div>
            <div class="trv-chart">
            	<div class="row-fluid servive-block">
	                <div class="span4">
	                    <h4>Steps Will Be Listed Here</h4>
	                    <p><i class="icon-map-marker"></i></p>
	                    <p>Save your travel and add places, notes, dates to your steps.</p>
	                </div>
            	</div>  
            </div>
        </div><!--/span3-->
        
		<div class="span9">
			<div class="headline"><h3><span class="trv-title-color">Welcome!</span> Plan Your Travel Step by Step, Save and Share</h3></div>
			
            <blockquote class="hero-unify">
                <p>Enter place name to start planning step by step. Then save your travel to add arrive-leave date, places, notes to your steps. You can share your travel with your friends anytime.</p>
            </blockquote>
            
            <div id="trv-map-main">
            	<input id="pac-input" class="controls" type="text" placeholder="Enter start point">
				<div id="map_canvas" style="width: 100%; height: 400px"></div>
            </div>
            
        </div><!--/span9--> 
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->
</div><!--/container-->		
<!-- End Content Part -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/appbundle/js/DrawDirectionOnMap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak"></script>
    <script>
        google.maps.event.addDomListener(window, "load", initialize);
    </script>
{% endblock %}