{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/DrawDirectionOnMap.css') }}" />
    <link rel="stylesheet" href="http://limonte.github.io/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
<!--=== Content Part ===-->
<div class="container">
	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
        <div class="span4">
			<div class="headline"><h3>Travel Plan</h3></div>
            <div class="trv-chart">
            	<div class="service-block-home">
                    <h4>Plan your trip, save and share</h4>
                    <p><i class="icon-map-marker"></i></p>
                    <p>Easily plan your trips, organize and save your list.</p>
                    <ul class="unstyled" style="text-align: left;">
                        <li><i class="icon-ok color-green"></i> Organize your travel step by step</li>
                        <li><i class="icon-ok color-green"></i> Plan every step separately</li>
                        <li><i class="icon-ok color-green"></i> Add places, notes, set dates</li>
                        <li><i class="icon-ok color-green"></i> Save and share</li>
                    </ul>
            	</div>
                <div class="trv-pl"></div>
            </div>
        </div><!--/span4-->
        
		<div class="span8">
			<div class="headline"><h3><span class="trv-title-color">Welcome!</span> Plan Your Travel Step by Step, Save and Share</h3></div>
            
            <div id="trv-map-main">
            	<input id="pac-input" class="controls" type="text" placeholder="Where will you go?">
				<div id="map_canvas" style="width: 100%; height: 400px"></div>
            </div>
            
        </div><!--/span8-->
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->
</div><!--/container-->		
<!-- End Content Part -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        /**
         * The initial Map center.
         */
        var mapCenter = [11.313430592259937, 21.402397366699233];

        /**
         * The initial Map zoom level.
         */
        var mapZoom = 2;

        /**
         * Data for the markers consisting of a name, a latitude, longitude and address
         * @type {Array}
         */
        var locations = [];

        /**
         * color of the marker on the map
         */
        var markerColor = 'default';

        /**
         * Line Color
         */
        var polyLineColor = '#E82087';

        /**
         * Google Map
         */
        var googleMap;

        /**
         * Auto complete place
         */
        var place;

        /**
         * Marker
         * @type {Array}
         */
        var marker = [];

        /**
         * Map Line
         */
        var polyLine = [];

        var directionsDisplayArray = [];
        var directionsService;

        function initMap() {
            directionsService = new google.maps.DirectionsService;

            var config = {
                zoom: mapZoom,
                mapTypeControl: false,
                streetViewControl: false,
                center: new google.maps.LatLng(mapCenter[0], mapCenter[1])
            };
            googleMap = new google.maps.Map(document.getElementById("map_canvas"), config);

            var input = /** @type {HTMLInputElement} */(document.getElementById('pac-input'));

            var types = document.getElementById('type-selector');
            googleMap.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            googleMap.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

            infowindow = new google.maps.InfoWindow();

            var autoComplete = new google.maps.places.Autocomplete(input);

            //localStorage.removeItem('locations');

            var stored = localStorage['locations'];

            if (stored) {
                locations = JSON.parse(stored);
                makeMap();
                createChart();
            }

            google.maps.event.addListener(autoComplete, 'place_changed', function () {

                getUserLoc(function(){

                    var place = autoComplete.getPlace();

                    var placeImage = '';
                    if (place.photos) {
                        placeImage = place.photos[0].getUrl({'maxWidth': 500, 'maxHeight': 500});
                    }

                    if (!place.geometry) {
                        return;
                    }

                    var loc = place.geometry.location;

                    var latitude = loc.lat(function ($a) {
                        return $a;
                    });

                    var longitude = loc.lng(function ($a, $b) {
                        return $b;
                    });

                    if (locations.length > 1) {
                        deleteMap();
                    }

                    //var mode = 'DRIVING';
                    var mode = 'FLYING';

                    detail = false;

                    locations.push([place.name, latitude, longitude, place.formatted_address, placeImage, place.id, place.types, mode, detail]);

                    localStorage['locations'] = JSON.stringify(locations);

                    makeMap();
                    createChart();

                });
            });
        }

        function deleteMap() {
            for (var i = 0; i < locations.length; i++) {
                marker[i].setMap(null);
            }
            for (var d = 0; d < directionsDisplayArray.length; d++) {
                directionsDisplayArray[d].set('directions', null);
            }
            for (var p = 0; p < polyLine.length; p++) {
                polyLine[p].setMap(null);
            }
        }

        function makeMap() {

            calculateAndDisplayRoute();

            var lt = new google.maps.LatLngBounds();
            for (var d = 0; d < locations.length; d++) {
                var c = locations[d];
                var g = new google.maps.LatLng(c[1], c[2]);
                marker[d] = new google.maps.Marker({
                    position: g,
                    title: c[0],
                    zIndex: d,
                    map: googleMap
                });
                marker[d].setMap(googleMap);

                google.maps.event.addListener(marker[d], 'click', (function (c) {
                    return function () {
                        infowindow.setContent(c[0]);
                        infowindow.open(googleMap, this);
                    }
                })(c));
            }

            if (locations.length > 1) {
                for (var l = 0; l < locations.length; l++) {
                    var cl = locations[l];
                    var gl = new google.maps.LatLng(cl[1], cl[2]);
                    lt.extend(gl);
                }
                googleMap.fitBounds(lt);
            } else if(locations.length == 0){
                googleMap.setCenter(new google.maps.LatLng(mapCenter[0], mapCenter[1]));
                googleMap.setZoom(2);
            } else {
                ltc = locations[0];
                googleMap.setCenter(new google.maps.LatLng(ltc[1], ltc[2]));
                googleMap.setZoom(9);
            }

        }

        function calculateAndDisplayRoute() {
            for (var d = 0; d < locations.length; d++) {
                if (d == 0) {
                    continue;
                }

                if (locations[d][7] == 'FLYING') {
                    setPolyLine(locations[d-1], locations[d]);
                } else {
                    directionsService.route({
                        origin: {lat: locations[d-1][1], lng: locations[d-1][2]},  // Haight.
                        destination: {lat: locations[d][1], lng: locations[d][2]},  // Ocean Beach.
                        // Note that Javascript allows us to access the constant
                        // using square brackets and a string value as its
                        // "property."
                        travelMode: google.maps.TravelMode[locations[d][7]]
                    }, function (response, status) {
                        if (status == 'OK') {
                            var directionsDisplay = new google.maps.DirectionsRenderer({
                                map: googleMap,
                                preserveViewport: true, // prevent auto zoom to result
                                markerOptions: {
                                    visible: false
                                },
                                suppressBicyclingLayer: true,
                                hideRouteList : true,
                                suppressInfoWindows: true,
                                suppressMarkers: true
                            });
                            directionsDisplayArray.push(directionsDisplay);
                            directionsDisplay.setDirections(response);
                        }
                    });

                }
            }
        }

        function setPolyLine(locA, locB) {
            var path = [
                new google.maps.LatLng(locA[1], locA[2]),
                new google.maps.LatLng(locB[1], locB[2])
            ];
            var poly = new google.maps.Polyline({
                path: path,
                strokeColor: polyLineColor,
                strokeOpacity: 1,
                strokeWeight: 4,
                visible: true,
                geodesic: true
            });
            poly.setMap(googleMap);

            polyLine.push(poly);
        }

        function createChart() {
            $('.service-block-home').hide();

            var travelPlan = $('.trv-pl');

            travelPlan.empty();

            for (key in locations) {
                $('.trv-chart-button-main').remove();

                if (key != 0) {
                    travelPlan.append(addRoute(key));
                }

                travelPlan.append(addStepHtml(key));
                travelPlan.append(addSaveButtonHtml());
            }

            var locInput = $('#pac-input');
            locInput.val('');

            if (locations.length != 0) {
                locInput.attr('placeholder', 'Enter '+ locations.length +'. step');
            } else {
                locInput.attr('placeholder', 'Where will you go?');
                $('.service-block-home').show();
            }

            locInput.focus();
        }

        function deleteChart(locationIndex) {
            deleteMap();
            locations.splice(locationIndex, 1);
            localStorage['locations'] = JSON.stringify(locations);
            if (locations.length == 0) {
                localStorage.removeItem('locations');
            }
            makeMap();
            createChart();
        }

        function selectMode(key) {

            var mode = locations[key][7];

            swal({
                title: 'Select Route Type',
                input: 'radio',
                inputOptions: {
                    'FLYING': ' Flying <i class="fa fa-plane">',
                    'DRIVING': ' Driving <i class="fa fa-car">',
                    'TRANSIT': ' Transit <i class="fa fa-train">',
                    'BICYCLING': ' Bicycling <i class="fa fa-bicycle">'
                },
                inputValue: mode,
                inputPlaceholder: 'Select country',
                showCancelButton: true
            }).then(function(result) {
                locations[key][7] = result;
                deleteMap();
                makeMap();
                createChart();
                localStorage['locations'] = JSON.stringify(locations);
            })
        }

        function addStepHtml(key){
            var placeName = locations[key][0];
            var address = locations[key][3];

            var step = parseInt(key);


            var imgHtml = '<div class="trv-pl-main">' +
                    '<div class="span3">'+
                    '<div class="trv-pl-img-main">'+
                    '<img class="trv-pl-img" src="'+locations[key][4]+'">'+
                    '</div>'+
                    '</div>'+
                    '<div class="span9">';

            if (locations[key][4] == '') {
                imgHtml = '<div class="trv-pl-main">' +
                        '<div class="span12">';
            }

            var detailHtml ='<input id="'+key+'" class="trv-pl-cb" type="checkbox" id="no_detail" name="no_detail" value="on">';

            if (locations[key][8]) {
                detailHtml ='<input id="'+key+'" class="trv-pl-cb" type="checkbox" id="no_detail" name="no_detail" value="on" checked>';
            }

            var chartHtml =   imgHtml+
                    '<div class="trv-pl-name"> '+ placeName +
                    '<span id="" class="pull-right">'+
                    '<button type="button" class="close" onclick="deleteChart(' + key + ')" data-dismiss="alert">×</button>'+
                    '</span>'+
                    '</div>'+
                    '<div class="trv-pl-addr"> '+address+' </div>'+
                    '<div>'+
                    '<label class="checkbox trv-pl-checkbox">'+detailHtml+
                    '<span class="trv-pl-checkbox-label">'+
                    'No details for this step '+
                    '</span>'+
                    '<i class="icon icon-question-sign trv-info">'+
                    '<span class="trv-info-desc">'+
                    ' This step will only be on map. If you want to add a step without any details(places, notes, dates) check this option.'+
                    ' For start and end point, recommended to set. However, you can change this later.'+
                    '</span>'+
                    '</i>'+
                    '</label>'+
                    '</div>'+
                    '</div>'+
                    '<div class="clear"></div>'+
                    '</div>';

            return chartHtml;
        }

        function addRoute(key) {

            var loc = locations[key];
            var mode = loc[7];

            var icon = '<i class="fa fa-plane"></i>';

            if (mode == 'DRIVING') {
                icon = '<i class="fa fa-car"></i>';
            } else if (mode == 'TRANSIT') {
                icon = '<i class="fa fa-train"></i>';
            } else if (mode == 'BICYCLING') {
                icon = '<i class="fa fa-bicycle"></i>';
            }

            return '<div class="trv-pl-type-main">'+
                    '<div class="trv-pl-type-line">'+
                        '<a href="#" onclick="selectMode('+key+')">'+icon+'</a> Click to change route type'+
                    '</div>'+
                    '</div>';
        }

        function addSaveButtonHtml() {

            return  '<div class="trv-chart-button-main trv-pl-button-main">' +
                    '<div class="trv-chart-button">' +
                    '<div>' +
                    '<a href="#" onclick="saveTravel()" class="btn-u" style="background-color: #5bc0de;">Save</a>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                    ;
        }

        $(document).ready(function(){

            $(document).on('mouseover', '.trv-info', function() {
                $(this).children(".trv-info-desc").attr('style', 'display: inline;');
            });

            $(document).on('mouseleave', '.trv-info', function() {
                $(this).children(".trv-info-desc").hide();
            });

            $(document).on('change', '.trv-pl-cb', function() {
                var id = $(this).attr('id');
                locations[id][8] = this.checked;
                localStorage['locations'] = JSON.stringify(locations);
            });

        });

        function getCity(results) {
            if (results[1]) {
                var indice=0;
                for (var j=0; j<results.length; j++)
                {
                    if (results[j].types[0]=='locality')
                    {
                        indice=j;
                        break;
                    }
                }

                for (var i=0; i<results[j].address_components.length; i++)
                {
                    if (results[j].address_components[i].types[0] == "locality") {
                        //this is the object you are looking for
                        return results[j].place_id;
                    }
                }
            }

            return false;
        }

        function getUserLoc(cb) {

            if (locations.length == 0) {
                var requestUrl = "http://ip-api.com/json";

                $.ajax({
                    url: requestUrl,
                    type: 'GET',
                    success: function (json) {
                        lat = json.lat;
                        long = json.lon;

                        var geocoder = new google.maps.Geocoder;

                        var latlng = {lat: lat, lng: long};

                        geocoder.geocode({'location': latlng}, function (results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                place_id = getCity(results);

                                if (place_id) {
                                    var service = new google.maps.places.PlacesService(googleMap);
                                    service.getDetails({
                                        placeId: place_id
                                    }, function (place, status) {
                                        if (status === google.maps.places.PlacesServiceStatus.OK) {

                                            var placeImage = '';
                                            if (place.photos) {
                                                placeImage = place.photos[0].getUrl({
                                                    'maxWidth': 500,
                                                    'maxHeight': 500
                                                });
                                            }

                                            if (!place.geometry) {
                                                return;
                                            }

                                            var loc = place.geometry.location;

                                            var latitude = loc.lat(function ($a) {
                                                return $a;
                                            });

                                            var longitude = loc.lng(function ($a, $b) {
                                                return $b;
                                            });

                                            var mode = 'FLYING';

                                            detail = true;

                                            locations.push([place.name, latitude, longitude, place.formatted_address, placeImage, place.id, place.types, mode, detail]);

                                            localStorage['locations'] = JSON.stringify(locations);
                                            if (typeof cb != 'undefined') {
                                                cb.apply();
                                            }
                                        } else {
                                            if (typeof cb != 'undefined') {
                                                cb.apply();
                                            }
                                        }
                                    });
                                } else {
                                    if (typeof cb != 'undefined') {
                                        cb.apply();
                                    }
                                }
                            } else {
                                if (typeof cb != 'undefined') {
                                    cb.apply();
                                }
                            }
                        });
                    },
                    error: function () {
                        if (typeof cb != 'undefined') {
                            cb.apply();
                        }
                    }
                });
            } else {
                if (typeof cb != 'undefined') {
                    cb.apply();
                }
            }
        }

        function saveTravel() {
            location.href = Routing.generate('travel_save');
        }

        </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAdE1uDIw06-8QZf49SW6u_MihHuzFv1Ak&callback=initMap"></script>

    <script src="http://limonte.github.io/sweetalert2/dist/sweetalert2.js"></script>
{% endblock %}