{% extends 'base.html.twig' %}

{% block title %} Step The World | Help {% endblock %}

{% block breadcrumbTitle %}Help{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Help</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <!-- Other Questions -->
                <div class="headline"><h3>General Questions</h3></div>

            </div>
            <div class="span3">

            </div>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}