{% extends 'base.html.twig' %}

{% block title %} Step The World | Privacy Policy {% endblock %}

{% block breadcrumbTitle %}Privacy Policy{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Privacy Policy</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">

        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}