{% extends 'base.html.twig' %}

{% block title %} Step The World | Terms of Service {% endblock %}

{% block breadcrumbTitle %}Terms of Service{% endblock %}
{% block breadcrumbLink %}
    <li class="active">Terms of Service</li>
{% endblock %}

{% block body %}
    <!--=== Content Part ===-->
    <div class="container">
        <div class="row-fluid privacy">
            <p>These Terms of Service ("Terms") govern your access to and use of the services, including our various
                websites, SMS, APIs, email notifications, applications, buttons, and widgets,
                (the "Services" or “StepTheWorld”), and any information, text, graphics, photos or other materials
                uploaded, downloaded or appearing on the Services (collectively referred to as "Content"). Your access
                to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By
                accessing or using the Services you agree to be bound by these Terms.</p><br />


            <h4>1. Basic Terms</h4>
            <p> You are responsible for your use of the Services, for any Content you post to the Services,and for any
                consequences thereof. The Content you submit, post, or display will be able to be viewed by other users
                of the Services and through third party services and websites. You should only provide Content that you
                are comfortable sharing with others under these Terms.</p>

            <p>You may use the Services only if you can form a binding contract with StepTheWorld and are not a person
                barred from receiving services under the laws of the United States or other applicable
                jurisdiction. If you are accepting these Terms and using the Services on behalf of a company,
                organization, government, or other legal entity, you represent and warrant that you are authorized
                to do so. You may use the Services only in compliance with these Terms and all applicable local,
                state, national, and international laws, rules and regulations.</p>

            <p>The Services that StepTheWorld provides are always evolving and the form and nature of the Services that
                StepTheWorld provides may change from time to time without prior notice to you. In addition,
                StepTheWorld may stop (permanently or temporarily) providing the Services (or any features within the
                Services) to you or to users generally and may not be able to provide you with prior notice.
                We also retain the right to create limits on use and storage at our sole discretion at any time
                without prior notice to you.</p>

            <p>The Services may include advertisements, which may be targeted to the Content or information on the
                Services, queries made through the Services, or other information. The types and extent of
                advertising by StepTheWorld on the Services are subject to change. In consideration for StepTheWorld granting
                you access to and use of the Services, you agree that StepTheWorld and its third party providers and
                partners may place such advertising on the Services or in connection with the display of Content or
                information from the Services whether submitted by you or others.</p><br />


            <h4>2. Privacy</h4>
            <p>Any information that you or other users provide to StepTheWorld which
                governs our collection and use of your information. You understand that through your use of the
                Services you consent to the collection and use (as set forth in the Privacy Policy) of this
                information, including the transfer of this information to the United States, Ireland, and/or other
                countries for storage, processing and use by StepTheWorld. As part of providing you the Services, we may
                need to provide you with certain communications, such as service announcements and administrative
                messages. These communications are considered part of the Services and your account, which you may
                not be able to opt-out from receiving.</p><br />


            <h4>3. Passwords</h4>
            <p>You are responsible for safeguarding the password that you use to access the Services and for any
                activities or actions under your password. We encourage you to use “strong” passwords (passwords
                that use a combination of upper and lower case letters, numbers and symbols) with your account.
                StepTheWorld cannot and will not be liable for any loss or damage arising from your failure to comply
                with the above.</p><br />


            <h4>4. Content on the Services</h4>
            <p>All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person
                who originated such Content. We may not monitor or control the Content posted via the Services and,
                we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted
                via the Services or obtained by you through the Services is at your own risk.</p>

            <p>We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or
                reliability of any Content or communications posted via the Services or endorse any opinions expressed
                via the Services. You understand that by using the Services, you may be exposed to Content that might
                be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been
                mislabeled or are otherwise deceptive. Under no circumstances will StepTheWorld be liable in any way for any
                Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage
                of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise
                made available via the Services or broadcast elsewhere.</p><br />


            <h4>5. Your Rights</h4>
            <p>You retain your rights to any Content you submit, post or display on or through the Services.
                By submitting, posting or displaying Content on or through the Services, you grant us a worldwide,
                non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process,
                adapt, modify, publish, transmit, display and distribute such Content in any and all media or
                distribution methods (now known or later developed).</p>

            <p>You agree that this license includes the right for StepTheWorld to provide, promote, and improve the
                Services and to make Content submitted to or through the Services available to other companies,
                organizations or individuals who partner with StepTheWorld for the syndication, broadcast, distribution or
                publication of such Content on other media and services, subject to our terms and conditions for such
                Content use.</p>

            <p>Such additional uses by StepTheWorld, or other companies, organizations or individuals who partner with
                StepTheWorld, may be made with no compensation paid to you with respect to the Content that you submit,
                post, transmit or otherwise make available through the Services.</p>

            <p>We may modify or adapt your Content in order to transmit, display or distribute it over computer
                networks and in various media and/or make changes to your Content as are necessary to conform and
                adapt that Content to any requirements or limitations of any networks, devices, services or
                media.</p>

            <p>You are responsible for your use of the Services, for any Content you provide, and for any
                consequences thereof, including the use of your Content by other users and our third party partners.
                You understand that your Content may be syndicated, broadcast, distributed, or published by our
                partners and if you do not have the right to submit Content for such use, it may subject you to
                liability. StepTheWorld will not be responsible or liable for any use of your Content by StepTheWorld in
                accordance with these Terms. You represent and warrant that you have all the rights, power and
                authority necessary to grant the rights granted herein to any Content that you submit.</p><br />


            <h4>6. Your License To Use the Services</h4>
            <p>StepTheWorld gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license
                to use the software that is provided to you by StepTheWorld as part of the Services. This license is
                for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided
                by StepTheWorld, in the manner permitted by these Terms.</p><br />


            <h4>7. StepTheWorld Rights</h4>
            <p>All right, title, and interest in and to the Services (excluding Content provided by users) are
                and will remain the exclusive property of StepTheWorld and its licensors. The Services are protected
                by copyright, trademark, and other laws of both the United States and foreign countries.
                Nothing in the Terms gives you a right to use the StepTheWorld name or any of the StepTheWorld
                trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments,
                or suggestions you may provide regarding StepTheWorld, or the Services is entirely voluntary and we
                will be free to use such feedback, comments or suggestions as we see fit and without any
                obligation to you.</p><br />


            <h4>8. Restrictions on Content and Use of the Services</h4>
            <p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute
                any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability
                to you. We also reserve the right to access, read, preserve, and disclose any information as we
                reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or
                governmental request, (ii) enforce the Terms, including investigation of potential violations
                hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv)
                respond to user support requests, or (v) protect the rights, property or safety of StepTheWorld,
                its users and the public.</p>

            <p>You may not do any of the following while accessing or using the Services: (i) access, tamper with,
                or use non-public areas of the Services, StepTheWorld’s computer systems, or the technical delivery
                systems of StepTheWorld’s providers; (ii) probe, scan, or test the vulnerability of any system or
                network or breach or circumvent any security or authentication measures; (iii) access or search or
                attempt to access or search the Services by any means (automated or otherwise) other than through
                our currently available, published interfaces that are provided by StepTheWorld, unless you have
                been specifically allowed to do so in a
                separate agreement with StepTheWorld (iv) forge any TCP/IP packet header or any part of
                the header information in any email or posting, or in any way use the Services to send altered,
                deceptive or false source-identifying information; or (v) interfere with, or disrupt,
                (or attempt to do so), the access of any user, host or network, including, without limitation,
                sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the
                creation of Content in such a manner as to interfere with or create an undue burden on the
                Services.</p><br />


            <h4>9. Copyright Policy</h4>
            <p>StepTheWorld respects the intellectual property rights of others and expects users of the Services
                to do the same. We will respond to notices of alleged copyright infringement that comply with
                applicable law and are properly provided to us. If you believe that your Content has been copied
                in a way that constitutes copyright infringement, please
                <a href="{{ path('app_contact') }}">contact us</a></p><br />


            <h4>10. Ending These Terms</h4>
            <p>The Terms will continue to apply until terminated by either you or StepTheWorld as follows.</p>

            <p>You may end your legal agreement with StepTheWorld at any time for any or no reason by deactivating your
                accounts and discontinuing your use of the Services. To deactivate your account please
                <a href="{{ path('app_contact') }}">contact us</a></p>

            <p>We may suspend or terminate your accounts or cease providing you with all or part of the Services at
                any time for any or no reason, including, but not limited to, if we reasonably believe:
                (i) you have violated these Terms,
                (ii) you create risk or possible legal exposure for us,
                (iii) our provision of the Services to you is no longer commercially viable.
                We will make reasonable efforts to notify you by the email address associated with your account or
                the next time you attempt to access your account.</p><br />

            <p>Effective: August 7th, 2016</p>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}