{% extends 'base.html.twig' %}

{% block title %} Step The World | About {% endblock %}

{% block breadcrumbTitle %}What is Step The World?{% endblock %}
{% block breadcrumbLink %}
	<li class="active">What is Step The World?</li>
{% endblock %}

{% block body %}
<!--=== Content Part ===-->
<div class="container">
	<div class="row-fluid">
		<div class="span9">
            <div class="headline"><h3>How To Plan A Travel</h3></div>
            <p>
                <img class="pull-left lft-img-margin img-width-200" src="{{ asset('bundles/appbundle/images/travel-1.jpg') }}" alt="" />
                There are many good ways of planing a travel. The first thing to do is to make some research about general information of the places where you want to visit, to collect information about your interests as much as possible. With some recommendations you can have some details about certain things to do from directly whom experienced that before you did. All these informations should have been recorded somewhere for you to access them when you need. Here with Step The World planing tool you will be able to collect your information in an organized form. Go ahead, have some more information about Step The World planing tool.
            </p>
            <br />

            <div class="clear"></div>

            <div class="headline"><h3>Decide Your Steps</h3></div>
            <p>
                <img class="pull-left lft-img-margin img-width-200" src="{{ asset('bundles/appbundle/images/travel-img.png') }}" alt="" />
                Step The World travel planing tool helps you to design your travel step by step. When you save your travel you will be able to add details to your steps. Here are some quick information about Step The World travel planing tool steps;
            </p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Autocomplete place finder</li>
                <li><i class="icon-ok color-green"></i> Travel steps menu ( helps you to navigate the steps )</li>
                <li><i class="icon-ok color-green"></i> Travel view on map with lines</li>
                <li><i class="icon-ok color-green"></i> Add/Remove/Order your steps</li>
            </ul><br />

            <div class="clear"></div>

            <div class="headline"><h3>Organize Places In Step Page</h3></div>
            <p>
                <img class="pull-left lft-img-margin img-width-200" src="{{ asset('bundles/appbundle/images/travel-2.png') }}" alt="" />
                When you save your travel, you will be redirected to your travel page. Every step will have its own page. By using Step the world organizer tools you will be able manage your places
            </p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Place finder by categories (Art Gallery, Museum, Park,...etc) and autocomplete place finder</li>
                <li><i class="icon-ok color-green"></i> Step and Travel note manager</li>
                <li><i class="icon-ok color-green"></i> Travel step time management</li>
                <li><i class="icon-ok color-green"></i> Social Actions (Like, Share)</li>
            </ul><br />

        </div><!--/span9-->

        <div class="span3">
            <!-- Why we are? -->
            <div class="headline"><h3>Step The World</h3></div>
            <p>Step The World is a travel planing tool that helps you to organize your travels in a better way and share with your friends. For more information or recommendation please <a href="{{ path('app_contact') }}">contact</a> us</p>
        </div><!--/span3-->
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}