<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    <url>
        <loc>http://steptheworld.com</loc>
        <changefreq>monthly</changefreq>
        <priority>1.00</priority>
    </url>
    <url>
        <loc>http://steptheworld.com/what-is-it</loc>
        <changefreq>monthly</changefreq>
        <priority>0.90</priority>
    </url>
    <url>
        <loc>http://steptheworld.com/contact</loc>
        <changefreq>yearly</changefreq>
        <priority>0.10</priority>
    </url>
    <url>
        <loc>http://steptheworld.com/terms-of-service</loc>
        <changefreq>yearly</changefreq>
        <priority>0.10</priority>
    </url>
    {% for place in places %}
        <url>
            <loc>{{ url('place_show', {'slug':place.slug, 'placeId':place.id}) }}</loc>
            <changefreq>monthly</changefreq>
            <priority>0.80</priority>
            <image:image>
                <image:loc>{% path place.image, 'big' %}</image:loc>
                <image:caption>{{ place.name }}</image:caption>
            </image:image>
        </url>
    {% endfor %}
    {% for user in users %}
        <url>
            <loc>{{ url('sonata_user_profile_show', {'username':user.username}) }}</loc>
            <changefreq>monthly</changefreq>
            <priority>0.50</priority>
            <image:image>
                <image:loc>{% path user.image, 'big' %}</image:loc>
                <image:caption>{{ user.firstname }} {{ user.lastname }}</image:caption>
            </image:image>
        </url>
    {% endfor %}
    {% for travel in travels %}
        <url>
            <loc>{{ url('travel_show', {'slug':travel.slug, 'travelId':travel.id}) }}</loc>
            <changefreq>weekly</changefreq>
            <priority>0.70</priority>
        </url>
        {% for step in travel.steps %}
            <url>
                <loc>{{ url('travel_show_step', {'slug':travel.slug, 'stepId':step.id, 'stepSlug':step.slug}) }}</loc>
                <changefreq>weekly</changefreq>
                <priority>0.70</priority>
            </url>
        {% endfor %}
    {% endfor %}
</urlset>
